<div id="panel">

   <%# Breadcrumb %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-dark">
         <li class="breadcrumb-item plain text-light">
            <%= link_to t("home.title.#{current_user.role}"), home_path, "class"=>"text-saic text-light" %>
         </li>
         <li class="breadcrumb-item plain text-light" aria-current="page">
            <%= (filter == Const::ALL_FLASHCARDS_FILTER) ? t('flashcards.title') : t('flashcards.title') + " " + t("flashcards.badge.#{filter}.label").downcase %>
         </li>
      </ol>
   </nav>
   
   <%# Toolbar %>
   <div style="margin-bottom: 5px;" class="btn-toolbar justify-content-between" role="toolbar">
      <%# Filtros IZQ%>
      <div class="btn-group" role="group" aria-label="First group">
         <%# Todas %>
         <% value_class = "btn btn-secondary" %>
         <% value_class = (filter == Const::ALL_FLASHCARDS_FILTER) ? value_class+" disabled" : value_class %>
         <%= link_to t('button.flashcards.index.all.label'), flashcards_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.flashcards.index.all.tooltip'), "disabled"=>(filter == Const::ALL_FLASHCARDS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
            <%# Próximas %>
            <% value_class = "btn btn-secondary" %>
            <% value_class = (filter == Const::NEXT_FLASHCARDS_FILTER) ? value_class+" disabled" : value_class %>
            <%= link_to t('button.flashcards.index.next.label'), flashcards_next_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.flashcards.index.next.tooltip'), "disabled"=>(filter == Const::NEXT_FLASHCARDS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
            <%# Caducadas %>
            <% value_class = "btn btn-secondary" %>
            <% value_class = (filter == Const::EXPIRED_FLASHCARDS_FILTER) ? value_class+" disabled" : value_class %>
            <%= link_to t('button.flashcards.index.expired.label'), flashcards_expired_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.flashcards.index.expired.tooltip'), "disabled"=>(filter == Const::EXPIRED_FLASHCARDS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
            <%# En espera %>
            <% value_class = "btn btn-secondary" %>
            <% value_class = (filter == Const::STANDBY_FLASHCARDS_FILTER) ? value_class+" disabled" : value_class %>
            <%= link_to t('button.flashcards.index.standby.label'), flashcards_standby_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.flashcards.index.standby.tooltip'), "disabled"=>(filter == Const::STANDBY_FLASHCARDS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
            <%# Desafío %>
            <% value_class = "btn btn-secondary" %>
            <% value_class = (filter == Const::CHALLENGE_FLASHCARDS_FILTER) ? value_class+" disabled" : value_class %>
            <%= link_to t('button.flashcards.index.challenge.label'), flashcards_challenge_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.flashcards.index.challenge.tooltip'), "disabled"=>(filter == Const::CHALLENGE_FLASHCARDS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <% end %>
      </div>
      
      <%# Opciones DER%>
      <div class="input-group">
         <%# Repasar 10 Tarjetas %>
         <%size = @interacted_words.size() >= 10 ? 10 : @interacted_words.size()%>
         <%= link_to t('button.flashcards.review.ten.label'), flashcards_review_path(filter, size), method: :get, "class"=>"btn btn-success text-saic", "title"=>t('button.flashcards.review.ten.tooltip'), data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         &nbsp
         <%# Repasar 5 Tarjetas %>
         <%size = @interacted_words.size() >= 5 ? 5 : @interacted_words.size()%>
         <%= link_to t('button.flashcards.review.five.label'), flashcards_review_path(filter, size), method: :get, "class"=>"btn btn-secondary text-saic", "title"=>t('button.flashcards.review.five.tooltip'), data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
      </div>
   </div>
   
   
   <%# Mensajes del panel %>
   <% if (@filter == Const::EXPIRED_FLASHCARDS_FILTER && @interacted_words.size() != 0) %>
      <div class="alert alert-danger annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.flashcards.expired.title') %>
         </h4>
         <%= t('alert.flashcards.expired.body') %>
      </div>
   <% elsif (@filter == Const::NEXT_FLASHCARDS_FILTER && @interacted_words.size() != 0) %>
      <div class="alert alert-success annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.flashcards.next.title') %>
         </h4>
         <%= t('alert.flashcards.next.body') %>
      </div>
   <% elsif (@filter == Const::STANDBY_FLASHCARDS_FILTER && @interacted_words.size() != 0) %>
      <div class="alert alert-secondary annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.flashcards.standby.title') %>
         </h4>
         <%= t('alert.flashcards.standby.body') %>
      </div>
   <% elsif (@filter == Const::CHALLENGE_FLASHCARDS_FILTER && @interacted_words.size() != 0) %>
      <div class="alert alert-info annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.flashcards.challenge.title') %>
         </h4>
         <%= t('alert.flashcards.challenge.body') %>
      </div>
   <% end %>
   
   
   <%# Lista de tarjetas de memoria %>
   <div class="list-group">
      <% @interacted_words.each do |interacted_word| %>
      
         <%# Tarjeta (Item)%>
         <a href="" class="list-group-item list-group-item-action" data-disable-with='<span class="text-saic"><%=t('button.loading')%></span> <div class="spinner-grow spinner-grow-sm" role="status"></div>'>
            <div class="d-flex justify-content-between align-items-center">
               
               <%# Badges IZQ %>
               <div style="width: fit-content; vertical-align: middle; text-align: left;">
                  <%# Tag status %>
                  <% status = interacted_word.status() %>
                  <% status_badge = "badge badge-pill badge-danger annotation" if (status == Const::EXPIRED_STATUS) %>
                  <% status_badge = "badge badge-pill badge-success annotation" if (status == Const::NEXT_STATUS) %>
                  <% status_badge = "badge badge-pill badge-secondary annotation" if (status == Const::STANDBY_STATUS) %>
                  <span class="<%=status_badge%>" title="<%=t("flashcards.badge.#{status}.tooltip")%>">
                     <%=t("flashcards.badge.#{status}.symbol")%>
                  </span>
                  &nbsp
                  <%# Title %>
                  <span class="mb-1 title-large"> <%=current_user.user_words.find(interacted_word.user_word_id).word%> </span>
               </div>
               
               <%# Badges DER %>
               <div style="width: fit-content; vertical-align: middle; text-align: right;">
                  <%# Tag review (days until next review) %>
                  <% review_badge = "text-danger annotation" if (status == Const::EXPIRED_STATUS) %>
                  <% review_badge = "text-success annotation" if (status == Const::NEXT_STATUS) %>
                  <% review_badge = "text-secondary annotation" if (status == Const::STANDBY_STATUS) %>
                  <span class="<%=review_badge%>" title="<%=t("flashcards.badge.#{status}.tooltip")%>">
                     <% days = interacted_word.days_until_next_review() %>
                     <%= t("flashcards.badge.time.#{status}.label") + " " + InteractedWord.days_to_text(days) %>
                  </span>
                  
                  <%# Tag difficulty %>
                  <% difficulty = interacted_word.difficulty() %>
                  <% difficulty_badge = "badge badge-info plain" if (difficulty == Const::LOW_DIFFICULTY) %>
                  <% difficulty_badge = "badge badge-info plain" if (difficulty == Const::MEDIUM_DIFFICULTY) %>
                  <% difficulty_badge = "badge badge-info plain" if (difficulty == Const::HIGH_DIFFICULTY) %>
                  <span class="<%=difficulty_badge%>" title="<%=t("flashcards.badge.difficulty.#{difficulty}.tooltip")%>">
                     <%=t("flashcards.badge.difficulty.#{difficulty}.label")%>
                  </span>
               </div>
            </div>
         </a>
         
      <% end %>
      
   </div>
   
   
   <%# Footer sin|con contenido %>
   <% if (@interacted_words.size == 0) %>
      <div id="footer">
         <p>
            <h1 class="title-large-bold">Sin contenido.</h1>
            <span class="plain">No hay contenido en esta sección. </span>
            <img id="error_image" src="<%=asset_path('without_content.png')%>" alt="Sin contenido" />
            <span class="annotation"></span>
         </p>
      </div>
   <%else%>
      <div id="footer">
         <%== pagy_bootstrap_nav(@pagy) %>
      </div>
   <% end %>
</div>