<%= content_for(:title, t("flashcards.title") + " " + t("flashcards.badge.standby.label").downcase) %>
<div id="content">
   <%= render "layouts/alert_message" %>
   
   <%= render "flashcards/flashcards_panel", filter: @filter %>
   
</div>