<%= content_for(:title, t("flashcard.title")) %>
<% authenticity_token = session[:_csrf_token] %>
<div id="content">
   <%= render "layouts/alert_message" %>
   
   <div id="panel">
   
      <%# Breadcrumb %>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item plain text-light">
               <%= link_to t("home.title.#{current_user.role}"), home_path, "class"=>"text-light text-saic" %>
            </li>
            <li class="breadcrumb-item plain text-light">
               <%= link_to t('flashcards.title'), flashcards_path, "class"=>"text-light text-saic" %>
               <%# (@filter == Const::ALL_FLASHCARDS_FILTER) ? t('flashcards.title') : t('flashcards.title') + " " + t("flashcards.badge.#{@filter}.label").downcase %>
            </li>
            <li class="breadcrumb-item plain text-light" aria-current="page">
               <%= t("flashcard.title") %>
            </li>
         </ol>
      </nav>
      
      <%# Toolbar %>
      <div style="margin-bottom: 5px;" class="btn-toolbar justify-content-between" role="toolbar">
         <%# Opciones IZQ %>
         <div class="btn-group" role="group" aria-label="First group">
            <%# Back %>
            <%= link_to t('button.back.symbol') + t('button.back.label'), return_back_or_default_path(flashcards_path), method: :get, "class"=>"btn btn-dark text-saic", "title"=>t('button.back.tooltip') %>
         </div>
         
         <%# Opciones DER%>
         <div class="input-group">
            
         </div>
      </div>
      
      
      <%# Mensajes del panel %>
      <% unless (@current_interacted_word.nil? || @index > 1) %>
         <div class="alert alert-warning annotation" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">
               <%= t('alert.flashcard.introduction.title').html_safe %>
            </h4>
            <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
               <%= t('alert.flashcard.introduction.body').html_safe %>
            <% else %>
               <%= t('alert.flashcard.introduction.body_control').html_safe %>
            <% end %>
         </div>
      <% end %>
   
   
      <%# Tarjeta de Memoria expandida (Item)%>
      <% unless (@current_interacted_word.nil?) %>
         
         <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
            <%# FUNCIONAMIENTO NORMAL %>
            
            <div class="card text-center text-dark flashcard-<%=@index%>">
               <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                           <%=t('form.interacted_word.size.label')%>
                        </a>
                     </li>
                     <% tabs = 1 %>
                     <% while (tabs <= @size) %>
                        <% config_class = (tabs == @index) ? 'nav-link active' : 'nav-link disabled' %>
                        <li class="nav-item">
                           <span class="<%=config_class%>" href="#"> <%=tabs%> </span>
                        </li>
                        <% tabs+=1 %>
                     <% end %>
                  </ul>
               </div>
               <div class="card-body">
                  
                  <%= form_with(model: @interacted_word, local: true, html: {:name => "flashcard_form_#{@index}"}, url: vocabulary_update_word_from_flashcard_path(filter:@filter, size:@size, index:@index, interacted_word_id:@current_interacted_word.id, ranking:@ranking, exclude:@exclude)) do |form| %>
                  
                     <%# CONTENIDO PRINCIPAL %>
                     <div id="form" class="border rounded bg-light float-left d-inline-block" style="padding: 5px 20px 5px 20px;">
                        <table id="table_form" style="border: none;" >
                           <%# ROW 1 %>
                           <%# Título %>
                           <tr>
                              <td class="align-top" colspan="2" style="padding-bottom: 40px;">
                                 <span class="title-xlarge-bold-centered"> <%=t('form.interacted_word.title')%> <br></span>
                              </td>
                           </tr>
                           <%# ROW 2 %>
                           <%# Imagen y pronunciación (título) %>
                           <tr>
                              <td class="align-middle" style="padding: 0px 15px 10px 0px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <b> <%=t('form.interacted_word.look')%> </b>
                                 </span>
                              </td>
                              <td class="align-middle" style="padding: 0px 0px 10px 15px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <b> <%=t('form.interacted_word.listen')%> </b>
                                 </span>
                              </td>
                           </tr>
                           <%# Imagen y pronunciación (items) %>
                           <tr>
                              <% 
                                 if (@current_interacted_word.word_image == 'without_image.png')
                                    image = asset_path(@current_interacted_word.word_image)
                                 else
                                    image = @current_interacted_word.word_image
                                 end
                              %>
                              <td id="flashcard_item" class="align-middle" style="padding: 0px 20px 35px 0px;">
                                 <img id="flashcard_image" class="rounded" src="<%=image%>" alt="<%=t('alert.image.not_found')%>">
                              </td>
                              <td id="flashcard_item" class="align-middle" style="padding: 0px 0px 35px 20px;">
                                 <input type="button" id="flashcard_item" class="btn btn-success btn-lg btn-block" value="<%=t('button.listen.symbol')%> &#x00A; <%=t('button.listen.label')%>" title="<%=t('button.listen.tooltip')%>" onclick="listen(this, '<%=UserWord.find(@current_interacted_word.user_word_id).word%>', '<%=authenticity_token%>')">
                              </td>
                           </tr>
                           <%# ROW 3 %>
                           <%# Campo de texto (título) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 10px 0px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <b> <%=t('form.interacted_word.write')%> </b>
                                 </span>
                              </td>
                           </tr>
                           <%# Campo de texto (items) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 30px 0px;">
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text title-large text-dark" id="basic-addon3">
                                          <%=t('form.interacted_word.word.label')%>
                                       </span>
                                    </div>
                                    <%=form.text_field :user_response, "class"=>"form-control title-large text-dark", "placeholder"=>t('form.interacted_word.word.tooltip'), "autocomplete"=>"off", "aria-describedby"=>"basic-addon3"%>
                                 </div>
                              </td>
                           </tr>
                           <%# ROW 4 %>
                           <%# Button %>
                           <tr>
                              <td class="" colspan="2" style="padding: 0px 0px 10px 0px;">
                                 <%= form.submit t('button.flashcard.next.label'), "class"=>"btn btn-primary text-saic", data: {disable_with: t('button.loading')} %>
                              </td>
                           </tr>
                        </table>
                     </div>
                     
                  <% end %>
                  
                  <%# AYUDA %>
                  <div id="form" class="rounded text-dark float-center d-inline-block" style="padding: 0px;">
                     <table id="table_form" style="border: none;">
                        <%# ROW 1 %>
                        <%# Tips (título) %>
                        <tr>
                           <td class="" style="width: 500px; padding: 0px 0px 10px 0px;">
                              <span class="label annotation text-secondary" style="height: 40px;">
                                 <%=t('form.interacted_word.help.label')%>
                              </span>
                           </td>
                        </tr>
                        <%# Tips (items) %>
                        <tr>
                           <td class="align-middle" style="width: 500px; padding: 0px 0px 30px 0px;">
                              <%# Collapse %>
                              <div class="accordion" id="accordionTips-<%=@index%>">
                                 <%# Ayuda 1 %>
                                 <div class="card">
                                    <div class="card-header" id="headingOne">
                                       <h2 class="mb-0">
                                       <button class="btn btn-block text-left text-secondary" type="button" data-toggle="collapse" data-target="#collapseOne-<%=@index%>" aria-expanded="true" title="<%=t('button.flashcard.help.one.tooltip')%>">
                                          <%=t('button.flashcard.help.one.label')%>
                                       </button>
                                       </h2>
                                    </div>
                                    <div id="collapseOne-<%=@index%>" class="collapse show" aria-labelledby="headingOne">
                                       <div class="card-body">
                                          <%=@current_interacted_word.sentence_without_word(UserWord.find(@current_interacted_word.user_word_id).word)%>
                                       </div>
                                    </div>
                                 </div>
                                 <%# Ayuda 2 %>
                                 <div class="card">
                                    <div class="card-header" id="headingTwo">
                                       <h2 class="mb-0">
                                       <button class="btn btn-block text-left text-secondary" type="button" data-toggle="collapse" data-target="#collapseTwo-<%=@index%>" aria-expanded="false" aria-controls="collapseTwo" title="<%=t('button.flashcard.help.two.tooltip')%>">
                                          <%=t('button.flashcard.help.two.label')%>
                                       </button>
                                       </h2>
                                    </div>
                                    <div id="collapseTwo-<%=@index%>" class="collapse show" aria-labelledby="headingTwo">
                                       <div class="card-body">
                                          <%=@current_interacted_word.word_es%>
                                       </div>
                                    </div>
                                 </div>
                                 <%# Ayuda 3 %>
                                 <div class="card">
                                    <div class="card-header" id="headingThree">
                                       <h2 class="mb-0">
                                       <button class="btn btn-block text-left text-secondary" type="button" data-toggle="collapse" data-target="#collapseThree-<%=@index%>" aria-expanded="false" aria-controls="collapseThree" title="<%=t('button.flashcard.help.three.tooltip')%>">
                                          <%=t('button.flashcard.help.three.label')%>
                                       </button>
                                       </h2>
                                    </div>
                                    <div id="collapseThree-<%=@index%>" class="collapse show" aria-labelledby="headingThree"> <%# data-parent="#accordionExample" %>
                                       <div class="card-body">
                                          <%word_size = UserWord.find(@current_interacted_word.user_word_id).word.size%>
                                          <%= (word_size == 1) ? "#{word_size}" + " " + t('form.interacted_word.character.one') : "#{word_size}" + " " + t('form.interacted_word.character.other') %>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
                  
               </div>
            </div>
            
         <% else %>
            <%# FUNCIONAMIENTO PARA GRUPO DE CONTROL %>
            
            <div class="card text-center text-dark flashcard-<%=@index%>">
               <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                           <%=t('form.interacted_word.size.label')%>
                        </a>
                     </li>
                     <% tabs = 1 %>
                     <% while (tabs <= @size) %>
                        <% config_class = (tabs == @index) ? 'nav-link active' : 'nav-link disabled' %>
                        <li class="nav-item">
                           <span class="<%=config_class%>" href="#"> <%=tabs%> </span>
                        </li>
                        <% tabs+=1 %>
                     <% end %>
                  </ul>
               </div>
               <div class="card-body">
                  <%= form_with(model: @interacted_word, local: true, html: {:name => "flashcard_form_#{@index}"}, url: vocabulary_update_word_from_flashcard_path(filter:@filter, size:@size, index:@index, interacted_word_id:@current_interacted_word.id, ranking:@ranking, exclude:@exclude)) do |form| %>
                     <%# CONTENIDO PRINCIPAL %>
                     <div id="form" class="border rounded bg-light float-left d-inline-block" style="padding: 5px 20px 5px 20px;">
                        <table id="table_form" style="border: none;" >
                           <%# ROW 1 %>
                           <%# Título %>
                           <tr>
                              <td class="align-top" colspan="2" style="padding-bottom: 40px;">
                                 <span class="title-xlarge-bold-centered"> <%=t('form.interacted_word.title')%> <br></span>
                              </td>
                           </tr>
                           <%# ROW 3 %>
                           <%# Campo de texto (título) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 10px 0px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <b> <%=t('activerecord.attributes.interacted_word.word_es')%> </b>
                                 </span>
                              </td>
                           </tr>
                           <%# Campo de texto (items) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 30px 0px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <%=@current_interacted_word.word_es%>
                                 </span>
                              </td>
                           </tr>
                           <%# ROW 3 %>
                           <%# Campo de texto (título) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 10px 0px;">
                                 <span class="label text-saic" style="height: 40px;">
                                    <b> <%=t('form.interacted_word.write')%> </b>
                                 </span>
                              </td>
                           </tr>
                           <%# Campo de texto (items) %>
                           <tr>
                              <td class="align-middle" colspan="2" style="padding: 0px 0px 30px 0px;">
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text title-large text-dark" id="basic-addon3">
                                          <%=t('form.interacted_word.word.label')%>
                                       </span>
                                    </div>
                                    <%=form.text_field :user_response, "class"=>"form-control title-large text-dark", "placeholder"=>t('form.interacted_word.word.tooltip'), "autocomplete"=>"off", "aria-describedby"=>"basic-addon3", "style"=>"width: 350px;" %>
                                 </div>
                              </td>
                           </tr>
                           <%# ROW 4 %>
                           <%# Button %>
                           <tr>
                              <td class="" colspan="2" style="padding: 0px 0px 10px 0px;">
                                 <%= form.submit t('button.flashcard.next.label'), "class"=>"btn btn-primary text-saic", data: {disable_with: t('button.loading')} %>
                              </td>
                           </tr>
                        </table>
                     </div> 
                  <% end %>
               </div>
            </div>
            
         <% end %>
         
      <%# Footer sin contenido %>
      <% else %>
         <div id="footer">
            <p>
               <h1 class="title-large-bold">Sin contenido.</h1>
               <span class="plain">No hay contenido en esta sección. </span>
               <img id="error_image" src="<%=asset_path('without_content.png')%>" alt="Sin contenido" />
               <span class="annotation"></span>
            </p>
         </div>
      <% end %>
      
   </div>
   
</div>



<!-- Modal message add_word -->
<%= render "layouts/alert_modal", id:"openFlashcardMessage", type:"btn btn-primary", message:"", negative_button:t('button.close'), possitive_button:"", path: nil, method: nil %>



<%# Script Events: Flashcard Form %>
<script type="text/javascript">
   var message;
   
   function show_alert_modal(message, path_button='') { // TODO: homologar métodos readings/show.html.erb
      $('.alert_modal_body').html("<p class=\"plain text-dark\">" + message + "</p>"); // Crear
      $('#openFlashcardMessage').modal('show'); // Mostrar
   }
   
   var last_audio_word = null;
   var last_audio_url  = null;
   
   function listen(button, word_en, authenticity_token) { // TODO: homologar métodos readings/show.html.erb 
      // Obtener valor
      var word = word_en.trim();
      
      if (!word || word === "") {
         message = 'Pronunciación no disponible. No se pudo obtener la Palabra en Inglés. Intenta más tarde.';
         show_alert_modal(message);
         return false;
      }
            
      // Obtener valor del button
      var value = button.getAttribute('value'); // es.yml <- button.word.create.label (dependencia)
      // Deshabilitar button
      button.value = " ◎ \nEspera..."; // Valor en es.yml > button.stop.symbol
      button.disabled = true;
      
      // Comprobar si se quiere reproducir la última palabra otra vez
      if ( last_audio_word && last_audio_word===word && last_audio_url ) {
         console.log("Recycle audio");
         var audio = new Audio(last_audio_url);
         audio.play();
         
         // Habilitar elemento/button
         button.value = value;
         button.disabled = false;
      }
      else {
         $.ajax({ // Petición AJAX (a TextToSpeech Service)
            url: '/vocabulary/word/text_to_speech',
            data: {
               word: word,
               authenticity_token: authenticity_token
            },
            type: 'POST',
            dataType: 'text',
            success:
            function(response){
               // Convertir response a elementos de HTML
               var htmlElements = $.parseHTML(response);
               // console.log("HTML: " + htmlElements);
               
               var audio_content = null
               // Encontrar el elemento Audio (HTMLAudioElement)
               for (var i=0; i < htmlElements.length; i++) {
                  if (htmlElements[i] instanceof HTMLAudioElement) {
                     audio_content = htmlElements[i].src; // audio/mp3 binario en base64
                  }
               }
               
               // Fuente: https://jsfiddle.net/sanddune/uubnnr0w/
               var binary = convertDataURIToBinary(audio_content);
               var blob=new Blob([binary], {type : 'audio/mp3'});
               var blobUrl = URL.createObjectURL(blob);
               // Fin Fuente
               
               var audio = new Audio(blobUrl);
               audio.play();
               
               last_audio_word = word;
               last_audio_url  = blobUrl;
               
               // Habilitar elemento/button
               button.value = value;
               button.disabled = false;
            },
            error:
            function(error){
               // Habilitar button
               button.value = value;
               button.disabled = false;
                           
               show_alert_modal('Error: el servicio de Google Cloud TextToSpeech no está disponible, intenta más tarde.');
            }
         });
      }
   }
   
   // Fuente: https://jsfiddle.net/sanddune/uubnnr0w/
   function convertDataURIToBinary(dataURI) { // TODO: homologar métodos readings/show.html.erb
      var BASE64_MARKER = ';base64,';
      var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
      var base64 = dataURI.substring(base64Index);
      var raw = window.atob(base64);
      var rawLength = raw.length;
      var array = new Uint8Array(new ArrayBuffer(rawLength));
      
      for(i = 0; i < rawLength; i++) {
         array[i] = raw.charCodeAt(i);
      }
      
      return array;
   }
</script>