<!-- Modal openCefr -->
<div class="modal fade" id="openCefr" tabindex="-1" role="dialog" aria-labelledby="openCefrTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="title-large-bold text-light"> <%=t('modal.cefr.title')%> </h1>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p class="plain text-dark"><%=t('modal.cefr.description').html_safe%></p>
            <p class="plain text-dark"><%=t('modal.cefr.student.levels.description').html_safe%>
               <ul>
                  <li class="plain text-dark" type="disc"> <b> <%=t('modal.cefr.student.levels.A.name').html_safe%> </b> </li>
                  <ul>
                     
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.A.one.name')%> </b> <%=t('modal.cefr.student.levels.A.one.description')%> </li>
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.A.two.name')%> </b> <%=t('modal.cefr.student.levels.A.two.description')%> </li>
                  </ul>
                  <li class="plain text-dark" type="disc"><b> <%=t('modal.cefr.student.levels.B.name')%> </b></li>
                  <ul>
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.B.one.name')%> </b> <%=t('modal.cefr.student.levels.B.one.description')%> </li>
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.B.two.name')%> </b> <%=t('modal.cefr.student.levels.B.two.description')%> </li>
                  </ul>
                  <li class="plain text-dark" type="disc"><b> <%=t('modal.cefr.student.levels.C.name').html_safe%> </b></li>
                  <ul>
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.C.one.name')%> </b> <%=t('modal.cefr.student.levels.C.one.description')%> </li>
                     <li class="plain text-dark" type="circle"> <b> <%=t('modal.cefr.student.levels.C.two.name')%> </b> <%=t('modal.cefr.student.levels.C.two.description')%> </li>
                  </ul>
               </ul>
            </p>
            
            <p class="plain text-dark"><%=t('modal.cefr.study_material.levels.description').html_safe%></p>
            <br>
            <% if (cefr_student) %>
               <%# Open in a new tab %>
               <input class="btn btn-primary" type="button" value="<%=t('button.cefr_test.student')%>" onclick="window.open('https://www.cambridgeenglish.org/test-your-english/','_blank')" />
               <br> <br>
               <p class="plain text-dark"><%=t('modal.cefr.test.instructions.student').html_safe%></p>
            <% else %>
               <%# Open in a new tab %>
               <input class="btn btn-primary" type="button" value="<%=t('button.cefr_test.reading')%>" onclick="window.open('http://www.roadtogrammar.com/textanalysis/','_blank')" />
               <br> <br>
               <p class="plain text-dark"><%=t('modal.cefr.test.instructions.reading').html_safe%></p>
            <% end %>
            <br>
            <br>
            <p class="annotation text-dark">
               <%=t('source')%>
               <a href="https://www.efset.org/es/cefr/#nav-6" target="_blank"> <%=t('modal.cefr.efset')%> </a>
               ,
               <a href="https://cvc.cervantes.es/ensenanza/biblioteca_ele/marco/cvc_mer.pdf" target="_blank"> <%=t('modal.cefr.cervantes')%> </a>
               ,
               <a href="https://www.cambridgeenglish.org/" target="_blank"> <%=t('modal.cefr.cambridge')%> </a>
               y
               <a href="http://www.roadtogrammar.com/textanalysis/" target="_blank"> <%=t('modal.cefr.analyzer')%> </a>
            </p>
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.close')%> </button>
         </div>
      </div>
   </div>
</div>
<!-- Fin -->