<table id="table_form">
   <tr>
      <td class="col1_form"><%=form.label :email, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form"><%=form.email_field :email, autocomplete: "email", "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.abbreviation')+" "+t('example.email'), disabled: (action_name == 'edit' || action_name == 'update') %></td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :first_name, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form"><%=form.text_field :first_name, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.abbreviation')+" "+t('example.first_name')%></td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :last_name, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form"><%=form.text_field :last_name, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.abbreviation')+" "+t('example.last_name')%></td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :birthdate, "class"=>"label text-saic text-dark" %>
      <td class="col1_form"><%=form.date_field :birthdate, "class"=>"text_field text-saic text-dark", "include_blank"=>true, "placeholder"=>t('example.abbreviation')+" "+t('example.birthdate') %></td>
      <%# Valor por defecto: "value"=>Date.today - 18.year %>
      <%# Valor máximo:      "max"=>Date.today - 18.year %>
      <%# Valor mínimo:      "min"=>Date.today - 80.year %>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :gender, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form">
         <% if (controller_name == 'registrations' && (action_name == 'edit' || action_name == 'update')) %> <%# edit %>
            <%= form.collection_select :gender_id, Gender.order(:name).all(), :id, :name, :selected => gender.id, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
         <% else %> <%# new %>
            <%= form.collection_select :gender_id, Gender.order(:name).all(), :id, :name, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
            <%# select :ethnicity, options_for_select(ethnicity_options), { prompt: 'Select ethnicity' } %>
         <% end %>
      </td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :learning_style, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form">
         <% if (controller_name == 'registrations' && (action_name == 'edit' || action_name == 'update')) %> <%# edit %>
            <%= form.collection_select :learning_style_id, LearningStyle.order(:name).all(), :id, :name, :selected => learning_style.id, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
         <% else %> <%# new %>
            <%= form.collection_select :learning_style_id, LearningStyle.order(:name).all(), :id, :name, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
         <% end %>
         <p class="annotation text-dark"><%=t('form.user.style.help')%><br>
            <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#openLearningStyle" style="font-size: small;"> <%=t('form.user.style.link')%> </button>
         </p>
      </td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :cefr_profile, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form">
         <% if (controller_name == 'registrations' && (action_name == 'edit' || action_name == 'update')) %> <%# edit %>
            <%= form.collection_select :cefr_profile_id, CefrProfile.order(:level).all(), :id, :level_name, :selected => cefr_profile.id, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
         <% else %> <%# new %>
            <%= form.collection_select :cefr_profile_id, CefrProfile.order(:level).all(), :id, :level_name, "class"=>"text_field text-saic text-dark", include_blank: t('form.user.select.blank') %>
         <% end %>
         <p class="annotation text-dark">
            <%=t('form.user.cefr.help')%><br>
            <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#openCefr" style="font-size: small;">
               <%=t('form.user.cefr.link')%>
            </button>
         </p>
      </td>
   </tr>
   <tr>
      <td class="col1_form"></td>
      <td class="col1_form">
         <% if (controller_name == 'registrations' && (action_name == 'edit' || action_name == 'update')) %> <%# edit %>
            <p class="annotation-centered p-2 mb-2 bg-info text-light">
               <%=t('alert.password.change').html_safe%>
            </p>
         <% end %>
         <p class="annotation text-dark">
            <%=t('form.user.requirement.password')%> <br>
            <%=t('form.user.requirement.minimum_characters')%> <br>
            <%=t('form.user.requirement.maximum_characters')%> <br>
            <%=t('form.user.requirement.only_characters')%>
         </p>
      </td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :password, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form">
         <%=form.password_field :password, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password'), autocomplete:"new-password"%>
      </td>
   </tr>
   <tr>
      <td class="col1_form"><%=form.label :password_confirmation, "class"=>"label text-saic text-dark" %></td>
      <td class="col1_form"><%=form.password_field :password_confirmation, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password'), autocomplete:"new-password" %>
      </td>
   </tr>
   <% if (controller_name == 'registrations' && (action_name == 'edit' || action_name == 'update'))%> <%# edit %>
      <tr>
         <td class="col1_form"></td>
         <td class="col1_form">
            <p class="annotation-centered p-2 mb-2 bg-info text-light">
               <% if (code != Const::DEFAULT_CODE && code != Const::EXPERIMENTAL_CODE && code != Const::CONTROL_CODE) %>
                  <%=t('alert.account.update.upgrade').html_safe if (role == Const::STUDENT_ROLE)%>
                  <%=t('alert.account.update.downgrade').html_safe if (role == Const::TEACHER_ROLE)%>
               <% else %>
                  <%=t('alert.account.update.nongrade').html_safe%>
               <% end %>
            </p>
         </td>
      </tr>
      <tr>
         <td class="col1_form"> <%=form.label :code_confirmation, "class"=>"label text-saic text-dark" if (code != Const::DEFAULT_CODE && code != Const::EXPERIMENTAL_CODE && code != Const::CONTROL_CODE) %> </td>
         <td class="col1_form">
            <%=form.text_field :code_confirmation, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.abbreviation')+" "+t('example.code') if (code != Const::DEFAULT_CODE && code != Const::EXPERIMENTAL_CODE && code != Const::CONTROL_CODE)%>
            <%# Button modal openRequestAccess|openRemoveAccess %>
            <p class="annotation text-dark">
               <% if (current_user.role == Const::STUDENT_ROLE) %>
                  <%=t('form.user.code.student')%><br>
                  <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#openRequestAccess" style="font-size: small;">
                     <%=t('form.user.code.link')%>
                  </button>
               <% else %>
                  <%=t('form.user.code.teacher')%><br>
                  <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#openRemoveAccess" style="font-size: small;">
                     <%=t('form.user.code.link')%>
                  </button>
               <% end %>   
            </p>
            <%#  %>
         </td>
      </tr>
      <tr>
         <td class="col1_form"></td>
         <td class="col1_form">
            <p class="annotation-centered p-2 mb-2 bg-info text-light">
               <%=t('alert.password.needed').html_safe%>
            </p>
         </td>
      </tr>
      <tr>
         <td class="col1_form"><%=form.label :current_password, "class"=>"label text-saic text-dark" %></td>
         <td class="col1_form">
            <%=form.password_field :current_password, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password'), autocomplete:"current-password"%>
         </td>
      </tr>
   <% end %>
</table>