<%# Función para validar el formulario VAK y calcular el estilo de aprendizaje %>
<script type="text/javascript">
   function calculateLearningStyle() {
      // Respuestas de cada estilo de aprendizaje
      var visualArray = new Array("B", "A", "B", "C", "C", "B", "A", "B", "A", "C", "B", "B", "C", "A", "B", "A", "C", "C", "A", "A", "B", "C", "A", "B", "A", "C", "B", "C", "B", "C", "B", "C", "A", "B", "B", "A", "A", "B", "B", "C");
      var auditoryArray = new Array("A", "C", "A", "B", "B", "A", "B", "A", "C", "B", "A", "C", "A", "B", "A", "C", "B", "A", "B", "C", "C", "A", "B", "A", "B", "B", "A", "B", "C", "B", "A", "A", "C", "A", "C", "C", "B", "C", "C", "A");
      var kinestheticArray = new Array("C", "B", "C", "A", "A", "C", "C", "C", "B", "A", "C", "A", "B", "C", "C", "B", "A", "B", "C", "B", "A", "B", "C", "C", "C", "A", "C", "A", "A", "A", "C", "B", "B", "C", "A", "B", "C", "A", "A", "B");
      // Estilo de aprendizaje
      var visual = {
         name: "Visual",
         points: 0
      };
      var auditory = {
         name: "Auditivo",
         points: 0
      };
      var kinesthetic = {
         name: "Kinestésico",
         points: 0
      };
      // Otras variables
      var q = "Q";
      var index = 0;
      var options = null;
      var isSelected = false;
      var softOffset = 3; // offset para estilos Flexibles
      var hardOffset = 8; // offset para estilos Dominantes
      var message = null;
      
      // Validar y contar que una opción de cada pregunta sea seleccionada
      
      while (index < 40) { // 40 preguntas
         isSelected = false;
         options = document.getElementsByName(q + (index + 1));
         for (var i = 0; i < options.length; i++) {
            // Contar coincidencia de opción seleccionada
            if (options[i].checked) {
               // console.log("VALUE: " + options[i].value);
               if (options[i].value == visualArray[index]) {
                  visual.points++;
                  // console.log(visual.name);
               } else if (options[i].value == auditoryArray[index]) {
                  auditory.points++;
                  // console.log(auditory.name);
               } else if (options[i].value == kinestheticArray[index]) {
                  kinesthetic.points++;
                  // console.log(kinesthetic.name);
               } else {
                  console.log("Excepción: calculateLearningStyle() > Validar y contar");
               }
               
               isSelected = true;
               break;
            }
         }
         
         if (!isSelected) {
            alert("Se debe seleccionar una opción para la Pregunta " + (index + 1));
            return;
         }
         
         index++;
      }
      // console.log(visual.name + ":::::: " + visual.points);
      // console.log(auditory.name + ":::: " + auditory.points);
      // console.log(kinesthetic.name + ": " + kinesthetic.points);
      
      // Determinar estilo de aprendizaje
      
      var styles = new Array(visual, auditory, kinesthetic);
      var aux = null;
      // Bubble Sort
      for (var a = 0; a < styles.length - 1; a++) {
         for (var b = 0; b < styles.length - a - 1; b++) {
            if (styles[b].points < styles[b+1].points) {
               aux = styles[b];
               styles[b] = styles[b+1];
               styles[b+1] = aux;
            }
         }
      }
      // console.log(styles[0].points + ": " + styles[0].name);
      // console.log(styles[1].points + ": " + styles[1].name);
      // console.log(styles[2].points + ": " + styles[2].name);
      // Compensación suave
      if ((styles[0].points - styles[1].points) <= softOffset) {
         if ((styles[0].points - styles[2].points) <= softOffset) {
            message = "Flexible: Auditivo, Kinestésico y Visual";
            // console.log("Flexible: Auditivo, Kinestésico y Visual");
         } else {
            // Orden alfabético
            if (styles[0].name == auditory.name) {
               message = "Flexible: " + styles[0].name + " y " + styles[1];
               // console.log("Flexible: " + styles[0].name + " y " + styles[1]);
            } else if (styles[1].name == auditory.name) {
               message = "Flexible: " + styles[1].name + " y " + styles[0];
               // console.log("Flexible: " + styles[1].name + " y " + styles[0]);
            } else if (styles[0].name == visual.name) {
               message = "Flexible: " + styles[1].name + " y " + styles[0];
               // console.log("Flexible: " + styles[1].name + " y " + styles[0]);
            } else if (styles[1].name == visual.name) {
               message = "Flexible: " + styles[0].name + " y " + styles[1];
               // console.log("Flexible: " + styles[0].name + " y " + styles[1]);
            } else {
               console.log("Excepción: calculateLearningStyle() > Determinar estilo");
            }
         }
      }
      // Compensación dura
      else if ((styles[0].points - styles[1].points) <= hardOffset) {
         message = "Dominante: " + styles[0].name + " (Secundario: " + styles[1].name + ")";
         // console.log("Dominante: " + styles[0].name + " (Secundario: " + styles[1].name + ")");
      }
      // Sin compensación
      else {
         message = "Dominante: " + styles[0].name
         // console.log("Dominante: " + styles[0].name);
      }
      
      // Mensaje de Javacript a HTML
      var html = document.getElementById('learning_style');
      html.innerHTML = "Estilo de Aprendizaje: <br>" + message;
   }
</script>



<!-- Modal openLearningStyle -->
<div class="modal fade" id="openLearningStyle" tabindex="-1" role="dialog" aria-labelledby="openLearningStyleTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="title-large-bold text-saic text-light"> <%=t('modal.learning_style.title')%> </h1>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p class="plain text-dark"><%=t('modal.learning_style.description').html_safe%></p>
            <p class="plain text-dark"><%=t('modal.learning_style.vak_model').html_safe%>
               <ul>
                  <li class="plain text-dark"> <%=t('modal.learning_style.style.visual').html_safe%> </li>
                  <li class="plain text-dark"> <%=t('modal.learning_style.style.auditory').html_safe%> </li>
                  <li class="plain text-dark"> <%=t('modal.learning_style.style.kinesthetic').html_safe%> </li>
               </ul>
            </p>
            
            <%# FORM %>
            <div style="margin: 40px 75px 40px 75px;">
               <form id="vak_form" action="javascript:handleIt()">
                  <p class="title-large text-dark">
                     <b><%=t('modal.learning_style.questionnaire.title').html_safe%></b>
                  </p>
                  <p class="plain text-dark">
                     <%=t('modal.learning_style.questionnaire.description').html_safe%>
                     <%=t('modal.learning_style.questionnaire.instructions').html_safe%>
                  </p>

                  <% num = 1 %>
                  <% while (num <= 40) %>
                  <p class="plain text-dark">
                     <label id="<%="Q#{num.to_s}"%>"> <%=t("modal.learning_style.questionnaire.Q#{num.to_s}.question")%> </label>
                     <br>
                     <input type="radio" value="A" name="<%="Q#{num.to_s}"%>" /> <%=t("modal.learning_style.questionnaire.Q#{num.to_s}.answer.A")%>
                     <br>
                     <input type="radio" value="B" name="<%="Q#{num.to_s}"%>" /> <%=t("modal.learning_style.questionnaire.Q#{num.to_s}.answer.B")%>
                     <br>
                     <input type="radio" value="C" name="<%="Q#{num.to_s}"%>" /> <%=t("modal.learning_style.questionnaire.Q#{num.to_s}.answer.C")%>
                     <br> <br>
                  </p>
                  <% num += 1 %>
                  <% end %>

                  <input class="btn btn-primary" type="button" value="<%=t('button.learning_style')%>" onclick="calculateLearningStyle()" />
               </form>
               <p class="plain text-dark">
                  <br>
                  <br>
                  <label id="learning_style" class="btn btn-dark">
                     Estilo de Aprendizaje: <br> -
                  </label>
                  <br>
                  <%=t('modal.learning_style.information').html_safe%>
               </p>
            </div>
            <%# FIN FORM %>
            
            <p class="annotation text-dark">
               <%=t('source')%>
               <a href="http://edu.jalisco.gob.mx/cepse/sites/edu.jalisco.gob.mx.cepse/files/cisneros_a._2004_manual_estilos_de_aprendizaje.pdf" target="_blank"> <%=t('modal.learning_style.sep')%> </a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.close')%> </button>
         </div>
      </div>
   </div>
</div>
<!-- Fin -->