<%# KHS: Registrar nuevo usuario %>
<%= content_for(:title, t('edit_user.title')) %>
<div id="content">
   <p class="title-xlarge-bold-centered text-dark">
      <%= t('edit_user.title') %>
   </p>
   <br>
   <%= render "devise/shared/error_messages", resource: resource %>
   <div id="form">
      <p class="title-xlarge text-dark"> <%=t('edit_user.subtitle')%> </p>

      <%=form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |form| %>

         <%= render "devise/registrations/user_form", form: form, gender: resource.genders.first, learning_style: resource.learning_styles.first, cefr_profile: resource.cefr_profiles.first, role: resource.role, code: resource.code %>

         <%= form.submit t('button.account.update.accept.label'), "class"=>"btn btn-primary btn-block text-saic", "title"=>t('button.account.update.accept.tooltip'), data: {disable_with: t('button.account.update.accept.loading')} %>
         
         <!-- Button trigger modal (_alert_modal.html.erb) -->
         <button type="button" class="btn btn-outline-secondary btn-block text-saic" data-toggle="modal" data-target="#openCancelUpdate" title="<%=t('button.cancel.tooltip')%>">
            <%=t('button.cancel.label')%>
         </button>

      <%end %>

      <%# Borrado de cuenta %>
      <br> <br>
      <p class="title-xlarge text-dark"> <%=t('edit_user.delete.title')%> </p>
      <p class="plain text-dark"> <%=t('edit_user.delete.description').html_safe%> </p>
      <!-- Button trigger modal (_alert_modal.html.erb) -->
      <button type="button" class="btn btn-outline-danger btn-block text-saic" data-toggle="modal" data-target="#openDeleteAccount" title="<%=t('button.account.delete.propose.tooltip')%>" <%= "disabled" unless (current_user.role == Const::TEACHER_ROLE)%> >
         <%=t('button.account.delete.propose.label')%>
      </button>

   </div>

   <br><br>
</div>



<!-- Render modal: openLearningStyle -->
<%= render "devise/registrations/vak_modal" %>

<!-- Render modal: openCefr -->
<%= render "devise/registrations/cefr_modal", cefr_student:true %>

<!-- Render modal: openRequestAccess | openRemoveAccess -->
<% if (current_user.role == Const::STUDENT_ROLE) %>
   <%= render "layouts/alert_modal", id:"openRequestAccess", type:"btn btn-primary", message:t('alert.account.code.student'), negative_button:t('button.close'), possitive_button:t('button.code.contact_us'), path: Const::EMAIL_ADMIN, method: nil %>
<% else %>
   <%= render "layouts/alert_modal", id:"openRemoveAccess", type:"btn btn-primary", message:t('alert.account.code.teacher'), negative_button:t('button.close'), possitive_button:t('button.code.contact_us'), path: Const::EMAIL_ADMIN, method: nil %>
<% end %>

<!-- Render modal: cancel update-->
<%= render "layouts/alert_modal", id:"openCancelUpdate", type:"btn btn-danger", message:t('alert.account.update.cancel'), negative_button:t('button.negative'), possitive_button:t('button.account.update.discart'), path:"/", method: nil %>

<!-- Render modal: delete account-->
<%= render "layouts/alert_modal", id:"openDeleteAccount", type:"btn btn-danger", message:t('alert.account.delete'), negative_button:t('button.negative'), possitive_button:t('button.account.delete.confirm'), path:registration_path(resource_name), method: :delete %>