<%# KHS: Registrar nuevo usuario %>
<%= content_for(:title, t('signup.title')) %>
<div id="content">
   <p class="title-xlarge-bold-centered text-dark">
      <%= t('signup.title') %>
   </p>
   <br>
   <%= render "devise/shared/error_messages", resource: resource %>
   <div id="form">
      <p class="title-xlarge text-dark"> <%=t('signup.subtitle')%> </p>

      <%=form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>

         <%= render "devise/registrations/user_form", form: form %>

         <%= form.submit t('button.account.signup.accept.label'), "class"=>"btn btn-primary btn-block text-saic", "title"=>t('button.account.signup.accept.tooltip'), data: {disable_with: t('button.account.signup.accept.loading')} %>
         
         <!-- Button trigger modal -->
         <button type="button" class="btn btn-outline-secondary btn-block text-saic" data-toggle="modal" data-target="#openCancelSignup" title="<%=t('button.cancel.tooltip')%>">
            <%=t('button.cancel.label')%>
         </button>

      <%end %>

   </div>

   <br><br>
</div>



<!-- Render modal: vak form -->
<%= render "devise/registrations/vak_modal" %>

<!-- Render modal: openCefr -->
<%= render "devise/registrations/cefr_modal", cefr_student:true %>

<!-- Render modal: cancel signup -->
<%= render "layouts/alert_modal", id:"openCancelSignup", type:"btn btn-danger", message:t('alert.account.signup.cancel'), negative_button:t('button.negative'), possitive_button:t('button.account.signup.discart'), path:"/users/sign_in", method: nil %>