<%# KHS: interfaz de los mensajes %>
<% if (resource.errors.any?) %>
   <div id="footer" class="alert alert-danger alert-dismissible fade show text" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
      <div style="margin: 8px;">
      </div>
      <b><%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase) %></b>
      <ul>
         <% resource.errors.full_messages.each do |message| %>
         <li> El campo <%= message %> </li>
         <% end %>
      </ul>
   </div>
<% end %>