<div id="panel">

   <%# Breadcrumb %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-dark">
         <li class="breadcrumb-item plain text-light">
            <%= link_to t("home.title.#{current_user.role}"), home_path, "class"=>"text-light text-saic" %> </li>
         <li class="breadcrumb-item plain text-light">
            <%= link_to t('readings.title'), readings_path, "class"=>"text-light text-saic" %> </li>
         <li class="breadcrumb-item plain text-light" aria-current="page">
            <%= t('reading.new.title') if (action == 'new') %>
            <%= t('reading.edit.title') if (action == 'edit') %> </li>
      </ol>
   </nav>
   
   <%= form_with(model: @text, local: true) do |form| %>
      
      <%# Toolbar %>
      <div style="margin-bottom: 5px;" class="btn-toolbar justify-content-between" role="toolbar">
         <%# Opciones IZQ %>
         <div class="btn-group" role="group" aria-label="First group">
            <%# Back %>
            <%= link_to t('button.back.symbol') + t('button.back.label'), return_back_or_default_path(readings_path), method: :get, "class"=>"btn btn-dark text-saic", "title"=>t('button.back.tooltip') %>
         </div>
         
         <%# Opciones DER %>
         <div class="input-group">
            <% if (action == 'new') %> <%# New reading %>
               <button class="btn btn-success text-saic" type="button" data-toggle="modal" data-target="#openNewReading" title="<%=t('button.readings.create.tooltip')%>"> <%=t('button.readings.create.label')%> </button>
            <% else %> <%# Update reading (action == 'update')%>
               <button class="btn btn-success text-saic" type="button" data-toggle="modal" data-target="#openEditReading" title="<%=t('button.readings.update.tooltip')%>"> <%=t('button.readings.update.label')%> </button>
               &nbsp
               <button type="button" class="btn btn-secondary text-saic" title="<%=t("button.cancel.tooltip")%>" onclick="window.location.href='<%=return_back_or_default_path(readings_uploaded_path)%>'"> <%=t("button.cancel.label")%> </button>
            <% end %>
            &nbsp
         </div>
      </div>
      
      <%# Reader / Text Card %>
      <article class="card">
         <div class="card-header reader-header">
            <h1 class="text-rh"> <%=form.text_field :title, "id"=>"title_reading", "placeholder"=>t('form.text.title.label'), "title"=>t('form.text.title.tooltip')%> </h1>
         </div>
         <div class="card-body reader-body">
            <%# Descripciones %>
            <div class="col1_form" style="background-color: transparent;">
               <p class="annotation text-dark"> <%=t('form.text.body.description').html_safe%> </p>
            </div>
            <%# MCER Warning%>
            <p class="plain text-danger"> <%=t('form.text.cefr.update') if (action == 'edit')%> </p>
            <%# TextArea %>
            <%=form.text_area :body, "id"=>"body_reading", "class"=>"text-rb", "placeholder"=>t('form.text.body.label'), "title"=>t('form.text.body.tooltip') %>
            <%# MCER %>
            <table class="table_form" style="border: none;">
               <tr>
                  <td class="col1_form" style="background-color: transparent;">
                     <label class="label text-saic text-dark"> <%=t('form.text.cefr.label')%> </label>
                  </td>
                  <td class="col1_form" style="background-color: transparent;">
                     <% if (action_name == 'new') %> <%# New reading %>
                        <%= form.collection_select :cefr_profile_id, CefrProfile.order(:level).all(), :id, :level_name, "class"=>"text-dark", include_blank: t('form.text.select.blank') %>
                     <% else %> <%# Update reading (action == 'update')%>
                        <%= form.collection_select :cefr_profile_id, CefrProfile.order(:level).all(), :id, :level_name, "class"=>"text-dark", include_blank: t('form.text.select.blank') %>
                     <% end %>
                     <p class="annotation text-dark">
                        <%=t('form.text.cefr.help')%>
                        <br>
                        <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#openCefr" style="font-size: small;"> <%=t('form.text.cefr.link')%> </button>
                     </p>
                  </td>
               </tr>
            </table>
         </div>
      </article>
      
      <% if (action == 'new') %>
         <!-- Render modal: create reading-->
         <%= render "layouts/alert_modal", id:"openNewReading", type:"btn btn-success", message:t('alert.reading.create'), negative_button:t('button.negative'), possitive_button:t('button.readings.create.label'), path: :texts, method: :post, form: form %>
      <% else %>
         <!-- Render modal: update reading-->
         <%= render "layouts/alert_modal", id:"openEditReading", type:"btn btn-success", message:t('alert.reading.update'), negative_button:t('button.negative'), possitive_button:t('button.readings.update.label'), path: readings_edit_path, method: :post, form: form %>
      <% end %>
   <% end %>
</div>