<div id="panel">

   <%# Breadcrumb %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-dark">
         <li class="breadcrumb-item plain text-light">
            <%= link_to t("home.title.#{current_user.role}"), home_path, "class"=>"text-light text-saic" %>
         </li>
         <li class="breadcrumb-item plain text-light" aria-current="page">
            <%= (filter == Const::ALL_READINGS_FILTER) ? t('readings.title') : t('readings.title') + " " + t("readings.badge.#{filter}.label").downcase %>
         </li>
      </ol>
   </nav>

   <%# Toolbar %>
   <div style="margin-bottom: 5px;" class="btn-toolbar justify-content-between" role="toolbar">
      <%# Filtros IZQ%>
      <div class="btn-group" role="group" aria-label="First group">
         <%# Todas %>
         <% value_class = "btn btn-secondary" %>
         <% value_class = (filter == Const::ALL_READINGS_FILTER) ? value_class+" disabled" : value_class %>
         <%= link_to t('button.readings.index.all.label'), readings_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.all.tooltip'), "disabled"=>(filter == Const::ALL_READINGS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <%# Leídas %>
         <% value_class = "btn btn-secondary" %>
         <% value_class = (filter == Const::READ_READINGS_FILTER) ? value_class+" disabled" : value_class %>
         <%= link_to t('button.readings.index.read.label'), readings_read_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.read.tooltip'), "disabled"=>(filter == Const::READ_READINGS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <%# No leídas / nuevas %>
         <% value_class = "btn btn-secondary" %>
         <% value_class = (filter == Const::UNREAD_READINGS_FILTER) ? value_class+" disabled" : value_class %>
         <%= link_to t('button.readings.index.unread.label'), readings_unread_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.unread.tooltip'), "disabled"=>(filter == Const::UNREAD_READINGS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <%# Recomendadas %>
         <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
            <% value_class = "btn btn-secondary" %>
            <% value_class = (filter == Const::RECOMMENDED_READINGS_FILTER) ? value_class+" disabled" : value_class %>
            <%= link_to t('button.readings.index.recommended.label'), readings_recommended_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.recommended.tooltip'), "disabled"=>(filter == Const::RECOMMENDED_READINGS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         <% end %>
         <%# Compartidas %>
         <%# <% value_class = "btn btn-secondary" %>
         <%# <% value_class = (filter == Const::SHARED_READINGS_FILTER) ? value_class+" disabled" : value_class %>
         <%# <%= link_to t('button.readings.index.shared.label'), readings_shared_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.shared.tooltip'), "disabled"=>(filter == Const::SHARED_READINGS_FILTER) ? true : false, data: {disable_with: "<span id=\"text\">#{t('button.loading')}</span> <div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div>"} %>
         <%# Subidas / Propietario %>
         <% value_class = "btn btn-secondary" %>
         <% value_class = (filter == Const::UPLOADED_READINGS_FILTER) ? value_class+" disabled" : value_class %>
         <%= link_to t('button.readings.index.uploaded.label'), readings_uploaded_path, method: :get, "class"=>"#{value_class} text-saic", "title"=>t('button.readings.index.uploaded.tooltip'), "disabled"=>(filter == Const::UPLOADED_READINGS_FILTER) ? true : false, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
      </div>
      
      <%# Opciones DER%>
      <div class="input-group">
         <%# Upload reading %>
         <%= link_to t('button.readings.new.label'), readings_new_path, method: :get, "class"=>"btn btn-success text-saic", "title"=>t('button.readings.new.tooltip'), data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
         &nbsp
      </div>
   </div>
   
   
   <%# Mensajes del panel %>
   <% if (filter == Const::RECOMMENDED_READINGS_FILTER && @associated_texts.size != 0) %>
      <div class="alert alert-warning annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.readings.recommended.title') %>
         </h4>
         <%= t('alert.readings.recommended.body') %>
      </div>
   <% elsif (filter == Const::UPLOADED_READINGS_FILTER && @associated_texts.size != 0) %>
      <div class="alert alert-success annotation" role="alert">
         <h4 class="alert-heading">
            <%= t('alert.readings.uploaded.title') %>
         </h4>
         <%= t('alert.readings.uploaded.body') %>
      </div>
   <% end %>


   <%# Lista de lecturas %>
   <div class="list-group">
      <% @associated_texts.each do |associated_text| %>
      
         <%# Lectura (Item)%>
         <a href="<%=readings_show_path(associated_text.text_id)%>" class="list-group-item list-group-item-action" data-disable-with='<span class="text-saic"><%=t('button.loading')%></span> <div class="spinner-grow spinner-grow-sm" role="status"></div>'>
            <div class="d-flex justify-content-between align-items-center">
            
               <%# Badges IZQ %>
               <div style="width: fit-content; vertical-align: middle; text-align: left;">
                  <%# Tag unread %>
                  <% if (associated_text.status == Const::UNREAD_STATUS) %>
                     <span class="badge badge-pill badge-primary annotation" title="<%=t('readings.badge.unread.tooltip')%>"> <%=t('readings.badge.unread.symbol')%> </span>
                     &nbsp
                  <% end %>
                  <%# Title %>
                  <span class="mb-1 title-large"> <%=current_user.texts.find(associated_text.text_id).title%> </span>
               </div>
               
               <%# Badges DER %>
               <div style="width: fit-content; vertical-align: middle; text-align: right;">
                  <%# Tag shared %>
                  <%# <% if (false) %> <%# associated_text.share == Const::SHARED_READINGS_FILTER %>
                     <%# <span class="badge badge-warning plain" title="readings.badge.shared.tooltip"> readings.badge.shared.symbol </span> %>
                  <%# <% end %>
                  <%# Tag recommendation %>
                  <% if (associated_text.recommendation)%>
                     <span class="badge badge-warning plain" title="<%=t('readings.badge.recommended.tooltip')%>"> <%= ((associated_text.recommendation_quality*10)/2).round(1).to_s + t('readings.badge.recommended.symbol') %> </span>
                  <% end %>
                  <%# Tag uploaded %>
                  <% if (associated_text.owner) %> <%# Uploaded / Owner %>
                     <span class="badge badge-success plain" title="<%=t('readings.badge.uploaded.tooltip')%>"> <%=t('readings.badge.uploaded.symbol')%> </span>
                  <% end %>
                  <%# Tag cefr profile %>
                  <span class="badge badge-info plain" title="<%=t('readings.badge.profile.tooltip')%>"> <%=current_user.texts.find(associated_text.text_id).cefr_profiles.first.level%> </span>
               </div>
            </div>
         </a>
         
      <% end %>
      
   </div>
   
   <%# Footer sin|con contenido %>
   <% if (@associated_texts.size == 0) %>
      <div id="footer">
         <p>
            <h1 class="title-large-bold">Sin contenido.</h1>
            <span class="plain">No hay contenido en esta sección. </span>
            <img id="error_image" src="<%=asset_path('without_content.png')%>" alt="Sin contenido" />
            <span class="annotation"></span>
         </p>
      </div>
   <%else%>
      <div id="footer">
         <%== pagy_bootstrap_nav(@pagy) %>
      </div>
   <% end %>

</div>