<%= content_for(:title, t("readings.title") + " " + t("readings.badge.recommended.label").downcase) %>
<div id="content">
   <%= render "layouts/alert_message" %>
   
   <%= render "readings/readings_panel", filter: @filter %>
   
</div>