<%= content_for(:title, t('reading.new.title')) %>
<div id="content">
   <%= render "layouts/alert_message" %>
   
   <%= render "readings/reading_form", action:'new' %>
   
</div>

<%# <script type="text/javascript">
   text_area = document.querySelector("#body_reading");
   text_area.addEventListener('input', autoResize, false);
   
   function autoResize() {
      this.style.height = 'auto';
      this.style.height = this.scrollHeight + 'px';
   }
</script> %>

<!-- Render modal: openCefr -->
<%= render "devise/registrations/cefr_modal", cefr_student:false %>