<%= content_for(:title, @text.title) %>
<% authenticity_token = session[:_csrf_token] %>
<div id="content">
   <%= render "layouts/alert_message" %>
   
   <div id="panel">
   
      <%# Breadcrumb %>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item plain text-light">
               <%= link_to t("home.title.#{current_user.role}"), home_path, "class"=>"text-light text-saic" %>
            </li>
            <li class="breadcrumb-item plain text-light">
               <%= link_to t("readings.title"), readings_path, "class"=>"text-light text-saic" %>
            </li>
            <li class="breadcrumb-item plain text-light" aria-current="page">
               <%= @text.title%>
            </li>
         </ol>
      </nav>
      
      <%# Toolbar %>
      <div style="margin-bottom: 5px;" class="btn-toolbar justify-content-between" role="toolbar">
         <%# Opciones IZQ %>
         <div class="btn-group" role="group" aria-label="First group">
            <%# Back %>
            <%= link_to t('button.back.symbol') + t('button.back.label'), return_back_or_default_path(readings_path), method: :get, "class"=>"btn btn-dark text-saic", "title"=>t('button.back.tooltip') %>
         </div>
         
         <%# Opciones DER %>
         <div class="input-group">
            <%# Edit reading %>
            <% if (@text.associated_texts.first.owner) %> <%# No permitir editar si no es el propietario de la lectura %>
               <%= link_to t('button.readings.edit.label'), readings_edit_path(@text.id), method: :get, "class"=>"btn btn-success text-saic", "title"=>t('button.readings.edit.tooltip'), data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
               &nbsp
            <% end %>
            
            <%# Share reading %>
            <%# <%= link_to t('button.readings.share.label'), readings_path, method: :get, "class"=>"btn btn-info text-saic", "title"=>t('button.readings.share.tooltip') %>
            <%# &nbsp %>
            
            <%# Delete reading %>
            <% if (@text.associated_texts.first.owner) %> <%# No permitir eliminar si no es el propietario de la lectura %>
               <button class="btn btn-danger text-saic" type="button" data-toggle="modal" data-target="#openDeleteReading" title="<%=t('button.readings.delete.tooltip')%>"> <%=t('button.readings.delete.label')%> </button>
            <% end %>
         </div>
      </div>
      
      
      <%# Reader / Text Card %>
      <article class="card" style="width:100%;">
         <div class="card-header reader-header">
            <h1 class="text-rh">
               <%=@text.title%> 
               <%# Tag cefr profile %>
               <span class="badge badge-info plain" title="<%=t('readings.badge.profile.tooltip')%>" style="vertical-align: middle;"> <%=@text.cefr_profiles.first.level%> </span>
            </h1>
         </div>
         <div class="card-body reader-body text-rb">
            <p>
            <% code = ""
               i = 0 # Contador -  enumera la posición de los tokens
               brackets = Array.new()
               space = true
               
               @text.tokenize().each do |token|                     
                  if (token.match(/\A[a-zA-Z]+'?[a-zA-Z]*\z/)) # Palabra con/sin apóstrofo
                     code.concat(" ") if (space)
                     code.concat(
                        "<span id=\"collapsed-span\" class=\"token\" token-position=\"#{i}\">
                        <span class=\"translation\"></span>
                        <span class=\"native\" onmouseover=\"\" tkn=\"#{authenticity_token}\">#{token}</span>
                        </span>"
                     )
                     space = true
                     # code.concat(" ")
                  elsif (token.match(/\A[0-9]*\z/)) # Número
                     code.concat(token)
                     # code.concat(" ")
                  elsif (token.match(/#/))
                     code.concat("<br>")
                  else # Cualquier otro caracter
                     if (token=='"' || token=='\'' || token=='(' || token=='-')
                        if (brackets.include?(token))
                           space = true
                           brackets.delete(token)
                        else
                           space = false
                           code.concat(" ") if(brackets.length==0)
                           brackets << token
                        end
                     end
                     # code.chop! # Eliminar el último caracter del string
                     code.concat(token)
                     # code.concat(" ")
                  end
                                    
                  i+=1
               end %>
               <%=code.html_safe%>
            </p>
         </div>
         
         <% # Agent identificator
            def what_browser()
               user_agent = request.env['HTTP_USER_AGENT']
               
               if (user_agent =~ /Edg/)
                  return Const::EDGE_BROWSER
               elsif (user_agent =~ /Firefox/)
                  return Const::FIREFOX_BROWSER
               elsif (user_agent =~ /Safari/)
                  return Const::SAFARI_BROWSER
               else
                  return Const::OTHER_BROWSER
               end
            end
         %>
         
         <!-- Float toolbar -->
         <% if (what_browser() == Const::SAFARI_BROWSER) %>
            <%# Safari %>
            <div class="float-toolbar-safari">
                  <input type="button" class="button-addword btn btn-primary" value="<%=t('button.readings.addword.label')%>" title="<%=t('button.readings.addword.tooltip')%>" word="" translation="" token-position="0" onclick="addWordToVocabulary(this, '<%=current_user.code%>', '<%=authenticity_token%>')"/> <%# Ocultar para el grupo de control %>
                  <input type="button" class="btn btn-secondary" value="<%=t('button.readings.hidetranslations.label')%>" title="<%=t('button.readings.hidetranslations.tooltip')%>" onclick="hideAllTranslations()" />
                  <input type="button" class="btn btn-secondary" value="<%=t('button.readings.gotop.label')%>" title="<%=t('button.readings.gotop.tooltip')%>" onclick="goTop()" />
            </div>
         <% else %>
            <%# Otros navegadores %>
            <div class="float-toolbar">
               <input type="button" class="button-toolbar title-large-bold btn btn-light" data-toggle="button" aria-pressed="true" style="display: inline-block;" value="<%=t('button.readings.toolbar.symbol').html_safe%>" title="<%=t('button.readings.toolbar.tooltip')%>" />
               <div class="options" style="display: inline-block;">
                  |
                  <input type="button" class="button-addword btn btn-primary" value="<%=t('button.readings.addword.label')%>" title="<%=t('button.readings.addword.tooltip')%>" word="" translation="" token-position="0" onclick="addWordToVocabulary(this, '<%=current_user.code%>', '<%=authenticity_token%>')"/> <%# Ocultar para el grupo de control %>
                  <input type="button" class="btn btn-secondary" value="<%=t('button.readings.hidetranslations.label')%>" title="<%=t('button.readings.hidetranslations.tooltip')%>" onclick="hideAllTranslations()" />
                  <input type="button" class="btn btn-secondary" value="<%=t('button.readings.gotop.label')%>" title="<%=t('button.readings.gotop.tooltip')%>" onclick="goTop()" />
                  |
               </div>
            </div>
         <% end %>
         
      </article>
      
   </div>
</div>



<!-- Render modal: delete reading-->
<%= render "layouts/alert_modal", id:"openDeleteReading", type:"btn btn-danger", message:t('alert.reading.delete'), negative_button:t('button.negative'), possitive_button:t('button.readings.delete.label'), path:readings_destroy_path, method: :delete %>

<!-- Modal openAddWordToVocabulary -->
<%= form_with(model: @word, local: true, html: {:name => "word_form"}) do |form| %>
<div class="modal fade" id="openAddWordToVocabulary" tabindex="-1" role="dialog" aria-labelledby="openAddWordToVocabularyTitle" data-backdrop="static">
   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
         
         <div class="modal-header">
            <h1 class="title-large-bold text-light"> <%=t('modal.add_word.title')%> </h1>
            <%# <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button> %>
         </div>
         
         <div class="modal-body">
            <div id="form">
               <p class="plain text-dark"><%=t('modal.add_word.description').html_safe%></p>
               <table id="table_form">
                  <%# textfield word %>
                  <tr>
                     <td class="col1_form"> <%=form.label :word, UserWord.human_attribute_name("word"), "class"=>"label text-saic text-dark" %> </td>
                     <td class="col1_form">
                        <%=form.text_field :word, "class"=>"text_field text-saic text-dark", "name"=>"word", "placeholder"=>t('example.abbreviation')+" "+t('example.word_en'), "title"=>t('form.user_word.word.tooltip'), disabled: true, "style"=>"width:85%; display:inline-block; margin-right:0px;" %>
                        <% if (what_browser() == Const::SAFARI_BROWSER) %>
                           <%# Safari %>
                           <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
                              <input type="button" class="btn btn-success text-saic" value="<%=t('button.listen.symbol')%>" title="<%=t('button.listen.tooltip')%>" style="width:45px; display:inline-block; margin-bottom:6px;" data-disable-with="<div class=&quot;spinner-grow spinner-grow-sm&quot; role=&quot;status&quot;></div> <span id=&quot;text&quot;> </span>" onclick="listen(this, '<%=authenticity_token%>')">
                           <% end %>
                        <% else %>
                           <%# Otros navegadores %>
                           <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
                              <input type="button" class="btn btn-success text-saic" value="<%=t('button.listen.symbol')%>" title="<%=t('button.listen.tooltip')%>" style="width:fit-content; display:inline-block; margin-bottom:6px;" data-disable-with="<div class=&quot;spinner-grow spinner-grow-sm&quot; role=&quot;status&quot;></div> <span id=&quot;text&quot;> </span>" onclick="listen(this, '<%=authenticity_token%>')">
                           <% end %>
                        <% end %>
                        <p class="annotation text-dark"> <%=t('form.user_word.word.help')%> </p>
                     </td>
                  </tr>
                  <%# textfield word_es %>
                  <tr>
                     <td class="col1_form"> <%=form.label :word_es, InteractedWord.human_attribute_name("word_es"), "class"=>"label text-saic text-dark" %> </td>
                     <td class="col1_form">
                        <%=form.text_field :word_es, "class"=>"text_field text-saic text-dark", "name"=>"word_es", "placeholder"=>t('example.abbreviation')+" "+t('example.word_es'), "title"=>t('form.user_word.word_es.tooltip'), "style"=>"width:85%;"%>
                        <p class="annotation text-dark" style="width: 315px;"> <%=t('form.user_word.word_es.help')%> </p>
                     </td>
                  </tr>
                  <% unless (current_user.code == Const::CONTROL_CODE) %> <%# Ocultar para el grupo de control %>
                     <%# textfield word_image %>
                     <tr>
                        <td class="col1_form"> <%=form.label :word_image, InteractedWord.human_attribute_name("word_image"), "class"=>"label text-saic text-dark" %> </td>
                        <td class="col1_form">
                           <div id="gallery" title="<%=t('form.user_word.word_image.tooltip')%>"> </div>
                           <p class="annotation text-dark" style="width: 315px;"> <%=t('form.user_word.word_image.help')%> </p>
                        </td>
                     </tr>
                  <% end %>
                  <%# textfield word_position %>
                  <tr>
                     <td class="col1_form"></td>
                     <td class="col1_form"> <%=form.text_field :word_position, "class"=>"text_field text-saic ", "name"=>"word_position", "type"=>"hidden" %> </td>
                  </tr>
               </table>
            </div>
         </div>
         
         <div class="modal-footer">
            <input type="button" class="btn btn-primary text-saic" value="<%=t('button.word.create.label')%>" title="<%=t('button.readings.addword.tooltip')%>" token-position="0" onclick="submitWordForm(this, '<%=@text.id%>', '<%=current_user.code%>', '<%=authenticity_token%>')" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.cancel.label')%> </button>
         </div>
         
      </div>
   </div>
</div>
<% end %>

<!-- Modal message add_word -->
<%= render "layouts/alert_modal", id:"openAddWordMessage", type:"btn btn-primary", message:"", negative_button:t('button.close'), possitive_button:"", path: nil, method: nil %>



<%# Script Events: SPAN Translation %>
<script type="text/javascript">
   function show_alert_modal(message) { // TODO: homologar métodos flashcards/review.html.erb
      $('.alert_modal_body-openAddWordMessage').html("<p class=\"plain text-dark\">" + message + "</p>"); // Crear
      $('#openAddWordMessage').modal('show'); // Mostrar
   }
   
   // var last_translation_word  = null;
   // var last_translation_trans = null;
   
   $('.native').click(function() { // native SPAN a collapsed/expanded SPAN
      // Obtener texto del elemento
      var word = $(this).text().trim();
      var authenticity_token = $(this).attr('tkn');
      // console.log(authenticity_token)
      var parentElement = this.parentElement;
      
      // Crear SPAN de spinner de carga
      var loading_span = document.createElement('span');
      loading_span.id = 'loading';
      loading_span.className = 'spinner-grow spinner-grow-sm';
      loading_span.style.margin = '0px 1px 10px 1px'
      
      if (parentElement.id == "collapsed-span") {
         // BUG: Deshabilitar click en span
         // BUG: this.setAttribute('disabled', 'true');
         // Mostrar SPAN de spinner de carga
         this.appendChild(loading_span);
         
         $.ajax({ // Petición AJAX (a Translate Service)
            url: '/vocabulary/word/translate',
            data: {
               word: word,
               authenticity_token: authenticity_token
            },
            type: 'POST',
            dataType: 'text',
            success:
            function(response){
               // BUG: Habilitar click en span
               // BUG: this.setAttribute('disabled', false);
               // Ocultar DIV de spinner de carga
               loading_span.remove()
               
               var object = $(response).filter('#translation');
               var translation = object.text();
               
               showTranslation(parentElement, word, translation);
            },
            error:
            function(error){
               // BUG: Habilitar click en span
               // BUG: this.setAttribute('disabled', false);
               // Ocultar DIV de spinner de carga
               loading_span.remove()
                              
               show_alert_modal('Error: el servicio de Google Cloud Translate no está disponible, intenta más tarde.');
            }
         });
      }
      else if (parentElement.id == "expanded-span") {
         hideTranslation(parentElement);
      }
      else {
         console.log('Error desconocido > readings > show.html.erb');
         
         show_alert_modal('Error desconocido en el Visor de Lectura, intenta más tarde.');
      }
   });
   
   // Build Translation UI
   
   function showTranslation(parentElement, word, translation) { // parentElement = collapsed-span
      var translation_span = parentElement.getElementsByClassName('translation')[0];
      translation_span.textContent = translation;
      
      parentElement.id = 'expanded-span';
      // console.log("WordPosition: " + parentElement.getAttribute('word-position'));
      
      // Obtener posición del token (palabra/traducción) del elemento
      var token_position = parentElement.getAttribute('token-position');
      // Asignar palabra y traducción al botón de la Toolbar
      setWordToButton(word, translation, token_position);
   }
   
   function hideTranslation(parentElement) { // parentElement = expanded-span
      var translation_span = parentElement.getElementsByClassName('translation')[0];
      var translation = translation_span.textContent; // Obtener traducción
      translation_span.textContent = ''; // Borrar traducción
      
      var native_span = parentElement.getElementsByClassName('native')[0]
      var word = native_span.textContent; // Obtener palabra
      
      parentElement.id = 'collapsed-span';
      // console.log("WordPosition: " + parentElement.getAttribute('word-position'));
      
      // Obtener posición del token (palabra/traducción) del elemento
      var token_position = parentElement.getAttribute('token-position');
      // Asignar palabra y traducción al botón de la Toolbar
      setWordToButton(word, translation, token_position);
   }
   
   function setWordToButton(word, translation, token_position) {
      var button = document.getElementsByClassName('button-addword')[0];
      var value = button.getAttribute('value'); // es.yml <- addWord (dependencia)
      var phases = value.split(':');
      
      if (translation == null || word == null || translation.length < 1 || word.length < 1) {
         value = phases[0] + ": (sin palabra)";
         button.value = value;
         button.setAttribute('word', '');
         button.setAttribute('translation', '');
         button.setAttribute('token-position', '');
         button.setAttribute('disabled', true);
      }
      else {
         button.value = phases[0] + ": " + word.trim();
         button.setAttribute('word', word.trim());
         button.setAttribute('translation', translation.trim());
         button.setAttribute('token-position', token_position);
         button.removeAttribute('disabled');
      }
   }
</script>



<%# Script: Events of Toolbar %>
<script type="text/javascript">
   $('.button-toolbar').click(function() {
      // var options = document.getElementsByClassName('options')[0];
      // if ($('.options').is(':visible')) {
      //    $('.options').fadeOut("slow");
      // }
      // else {
      //    $('.options').fadeIn("slow");
      // }
      $('.options').fadeToggle( "fast", "swing" );
   });
   
   var last_images_word = null;
   var last_images_data = null;
   
   function addWordToVocabulary(button, user_code, authenticity_token) { // Ocultar para el grupo de control
      // Obtener valores de button
      var value =  button.value;
      var word = button.getAttribute('word');
      var translation = button.getAttribute('translation');
      var position = button.getAttribute('token-position');
      
      if (!word || word === "") {
         show_alert_modal("No disponible. Selecciona una palabra e intenta de nuevo.");
         return;
      }
      
      // Deshabilitar elemento/button
      button.value = 'Procesando...';
      button.disabled = true;
      
      // Ocultar para el grupo de control
      if (user_code != 'SAIC-ctrl') {
         // FUNCIONAMIENTO NORMAL
         
         // Comprobar si se quiere reproducir la última palabra otra vez
         if ( last_images_word && last_images_word===word && last_images_data ) {
            console.log("Recycle images");
            setAttributesToForm(last_images_word, translation, position);
            buildWordGallery(last_images_data);
               
            // Mostrar modal
            $('#openAddWordToVocabulary').modal('show');
            
            // Habilitar elemento/button
            button.value = value;
            button.disabled = false;
         }
         else {
            $.ajax({ // Petición AJAX (a Images Service)
               url: '/vocabulary/word/images',
               data: {
                  word: word, // Usar la palabra para obtener imágenes
                  authenticity_token: authenticity_token
               },
               type: 'POST',
               dataType: 'text',
               success:
               function(response){
                  // Habilitar elemento/button
                  button.value = value;
                  button.disabled = false;
                  
                  // Obtener arreglo de imágenes
                  var object = $(response).filter('#images');
                  var images_data = object.text();
                  
                  setAttributesToForm(word, translation, position);
                  buildWordGallery(images_data);
                  
                  // Mostrar modal
                  $('#openAddWordToVocabulary').modal('show');
                  
                  last_images_word = word;
                  last_images_data = images_data;
               },
               error:
               function(error){
                  // Habilitar button
                  button.value = value;
                  button.disabled = false;
                              
                  show_alert_modal('Error: el servicio de Google Custom Search no está disponible, intenta más tarde.');
               }
            });
         }
         
      }
      else {
         // FUNCIONAMIENTO PARA GRUPO DE CONTROL
         
         // Habilitar elemento/button
         button.value = value;
         button.disabled = false;
         
         setAttributesToForm(word, translation, position);
         
         // Mostrar modal
         $('#openAddWordToVocabulary').modal('show');
      }
   }
   
   function hideAllTranslations() {
      var elements        = document.getElementsByClassName('token'); // expanded|collapsed-span
      var element         = null;
      var translation_span = null;
      
      for (var i=0 ; i<elements.length ; i++) {
         element = elements[i];
         
         if (element.id == 'expanded-span') {
            translation_span = element.getElementsByClassName('translation')[0];
            translation_span.textContent = '';
            
            element.id = 'collapsed-span';
            // console.log("WordPosition: " + element.getAttribute('word-position'));
         }
      }
   }
   
   function goTop() {
      // window.scrollTo(0, 0);
      $("HTML, BODY").animate({scrollTop:0}, 1000);
   }
   
   // Build AddWordForm UI
   
   function setAttributesToForm(word, translation, word_position) {
      // Asignar word
      var textfield_word = document.getElementsByName('word')[0];
      textfield_word.value = word;
      // Asignar word_es
      var textfield_word_es = document.getElementsByName('word_es')[0];
      textfield_word_es.value = translation;
      // Asignar word_position
      var textfield_word_position = document.getElementsByName('word_position')[0];
      textfield_word_position.value = word_position;
   }
   
   function buildWordGallery(images_data) {
      // Obtener array con image link y thumbnail link
      var images = null;
      images = ["<%=asset_path('without_image.png')%><LINK_SEPARATOR><%=asset_path('without_image.png')%>"];
      
      if (images_data || images_data === "") {
         array = images_data.split('<IMAGE_SEPARATOR>');
         images = images.concat(array);
      }
      
      // Obtener DIV principal desde documento HTML
      var gallery_div = document.getElementById('gallery');
      // Limpiar elementos previos de la galeria
      while (gallery_div.hasChildNodes()) {
         gallery_div.removeChild(gallery_div.lastChild);
      }
      
      // Declaración de variables
      var image_span = null;
      var image = null;
      var radio_span = null;
      var radio = null;
      var main_span = null;
      var image_link = null;
      var thumbnail_link = null;
      
      // Construir objetos de la galeria de imágenes de palabra
      
      for (var i=0; i < images.length; i++) {
         // Comprobar contenido del array
         if (images[i] == null || images[i].length==0) {
            // console.log("images[i] es nulo o está vacío");
            continue; // Saltar una iteración del ciclo
         }
         
         // Obtener links
         image_link     = images[i].split('<LINK_SEPARATOR>')[0];
         thumbnail_link = images[i].split('<LINK_SEPARATOR>')[1];
         
         // console.log("IMAGE LINK: " + image_link);
         // console.log("THUMBNAIL LINK: " + thumbnail_link);
         
         // Crear SPAN de imagen
         image_span =  document.createElement('span');
         image_span.style.display = 'block';
         // Crear IMG (imagen)
         image = document.createElement('img');
         image.id = "img-" + i;
         image.className = 'rounded';
         image.style.width = 'auto';
         image.style.height = 'auto';
         image.style.maxWidth = '150px';
         image.style.maxHeight = '150px';
         image.src = thumbnail_link; // IMAGE: thumbnail link
         
         // Crear SPAN de radio button
         radio_span = document.createElement('span');
         radio_span.style.display = 'block';
         radio_span.style.textAlign = 'center';
         // Crear INPUT (radio button)
         radio = document.createElement('input');
         radio.setAttribute('type', 'radio');
         radio.id = "radio-" + i;
         radio.className = 'radio-button';
         radio.name = 'word_image';
         radio.setAttribute('onclick', 'clickRadioButton(this)'); // Listener
         radio.value = image_link; // IMAGE: image link
         
         // Crear SPAN principal
         main_span = document.createElement('span');
         // main_span.style.width = '150px';
         // main_span.style.height = '150px';
         main_span.style.padding = '5px 5px 10px 5px';
         main_span.style.display = 'inline-block';
         // main_span.style.textAlign = 'center';
         
         // Adjuntar componentes
         image_span.appendChild(image);
         radio_span.appendChild(radio);
         main_span.appendChild(image_span);
         main_span.appendChild(radio_span);
         gallery_div.appendChild(main_span);
      }
   }
   
   // AddWordForm events
   
   var last_audio_word = null;
   var last_audio_url  = null;
   
   function listen(button, authenticity_token) { // TODO: homologar métodos flashcards/review.html.erb 
      // Obtener valores del formulario
      var word = document.forms['word_form']['word'].value.trim();
      
      if (!word || word === "") {
         message = 'Pronunciación no disponible. El campo Palabra no es válido. Intenta más tarde.';
         show_alert_modal(message);
         return false;
      }
            
      // Obtener valor del button
      var value = button.getAttribute('value'); // es.yml <- button.word.create.label (dependencia)
      // Deshabilitar button
      button.value = ' ◽ '; // Valor en es.yml > button.stop.symbol
      button.disabled = true;
      
      // Comprobar si se quiere reproducir la última palabra otra vez
      if ( last_audio_word && last_audio_word===word && last_audio_url ) {
         console.log("Recycle audio");
         var audio = new Audio(last_audio_url);
         audio.play();
         
         // Habilitar elemento/button
         button.value = value;
         button.disabled = false;
      }
      else {
         $.ajax({ // Petición AJAX (a TextToSpeech Service)
            url: '/vocabulary/word/text_to_speech',
            data: {
               word: word,
               authenticity_token: authenticity_token
            },
            type: 'POST',
            dataType: 'text',
            success:
            function(response){
               // Convertir response a elementos de HTML
               var htmlElements = $.parseHTML(response);
               // console.log("HTML: " + htmlElements);
               
               var audio_content = null
               // Encontrar el elemento Audio (HTMLAudioElement)
               for (var i=0; i < htmlElements.length; i++) {
                  if (htmlElements[i] instanceof HTMLAudioElement) {
                     audio_content = htmlElements[i].src; // binario, audio/mp3, base64
                  }
               }
               
               // Fuente: https://jsfiddle.net/sanddune/uubnnr0w/
               var binary = convertDataURIToBinary(audio_content);
               var blob=new Blob([binary], {type : 'audio/mp3'});
               var blobUrl = URL.createObjectURL(blob);
               // Fin Fuente
               
               var audio = new Audio(blobUrl);
               audio.play();
               
               last_audio_word = word;
               last_audio_url  = blobUrl;
               
               // Habilitar elemento/button
               button.value = value;
               button.disabled = false;
            },
            error:
            function(error){
               // Habilitar button
               button.value = value;
               button.disabled = false;
               
               message = 'Error: el servicio de Google Cloud TextToSpeech no está disponible, intenta más tarde.';
               show_alert_modal(message);
            }
         });
      }
   }
   
   // Fuente: https://jsfiddle.net/sanddune/uubnnr0w/
   function convertDataURIToBinary(dataURI) { // TODO: homologar métodos flashcards/review.html.erb
      var BASE64_MARKER = ';base64,';
      var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
      var base64 = dataURI.substring(base64Index);
      var raw = window.atob(base64);
      var rawLength = raw.length;
      var array = new Uint8Array(new ArrayBuffer(rawLength));

      for(i = 0; i < rawLength; i++) {
         array[i] = raw.charCodeAt(i);
      }
      return array;
   }
   
   function clickRadioButton(element) {
      // Asignar fondo blanco a todos los main_span
      var gallery = document.getElementById('gallery');
      var childs = gallery.childNodes;
      
      for (child of childs) {
         child.style.backgroundColor = 'white';
      }
      
      // Asignar color al main_span del radio button seleccionado
      var main_span = element.parentElement.parentElement;
      main_span.style.backgroundColor = 'rgb(0, 123, 255)';
   }
   
   function submitWordForm(button, text_id, user_code, authenticity_token) {
      // Obtener valores del formulario
      var word          = document.forms['word_form']['word'].value.trim();
      var word_es       = document.forms['word_form']['word_es'].value.trim();
      var word_position = document.forms['word_form']['word_position'].value.trim();
      var word_image    = "";
      // console.log(word + " " + word_es + " " + word_position + " " + text_id);
      
      // Ocultar para el grupo de control
      if (user_code != 'SAIC-ctrl') {
         // FUNCIONAMIENTO NORMAL
         
         var radios = document.getElementsByName('word_image');
         
         for (var i=0; i<radios.length; i++) {
            if (radios[i].checked) {
               word_image = radios[i].value.trim();
            }
         }
         
      }
      else {
         // FUNCIONAMIENTO PARA GRUPO DE CONTROL
         
         word_image = "<%=asset_path('without_image.png')%>";
         
      }
      
      //  Asignar el nombre de la imagen 'without_image' (sin el precompilado)
      var array = word_image.match(/assets\/without_image/);
      if (array != null) {
         word_image = 'without_image.png' // nombre del archivo
         // console.log("Array: " + array);
      }
      // else {
      //    console.log("Array: " + array);
      // }
      
      
      // VALIDACIÓN
      var message = "";
      
      if (!word || word === "") {
         message = "El campo Palabra no ha sido llenado.";
      }
      else if (!word_es || word === "") {
         message = "El campo Traducción no ha sido llenado.";
      }
      else if (!word_image || word_image === "") {
         message = "La opción Imagen no ha sido seleccionada.";
      }
      else {
         message = "";
      }
      
      if (message != "") {
         show_alert_modal(message);
         return false;
      }
      
      // PETICIÓN
      // Obtener valor del button
      var value = button.getAttribute('value'); // es.yml <- button.word.create.label (dependencia)
      // Deshabilitar button
      button.value = 'Procesando...';
      button.disabled = true;
      
      $.ajax({ // Petición AJAX (a AddWord Service)
         url: '/vocabulary/add_word_from_reading',
         data: {
            word: word,
            word_es: word_es,
            word_position: word_position,
            word_image: word_image,
            text_id: text_id,
            authenticity_token: authenticity_token
         },
         type: 'POST',
         dataType: 'text',
         success:
         function(response){
            // Habilitar elemento/button
            button.value = value;
            button.disabled = false;
            // Ocultar modal
            $('#openAddWordToVocabulary').modal('hide');
            
            // Obtener mensaje de add_word
            var object = $(response).filter('#message');
            
            show_alert_modal(object.text());
         },
         error:
         function(error){
            // Habilitar button
            button.value = value;
            button.disabled = false;
                        
            show_alert_modal("Error: \n" + error);
         }
      });
   }
</script>