<%# KHS: Registrar nuevo usuario %>
<%= content_for(:title, "Cambiar contraseña") %>
<div id="content">
   <p class="title-xlarge-bold-centered text-dark">
      <%= "Actualiza tu contraseña en tu cuenta SAIC" %>
   </p>
   <br>
   <%= render "devise/shared/error_messages", resource: resource %>
   <div id="form">
      <p class="title-xlarge text-dark"> <%="Cambio de Contraseña"%> </p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
         <%= f.hidden_field :reset_password_token %>
         
         <table id="table_form">
            <tr>
               <td class="col1_form"><%=f.label :password, "Nueva Contraseña", "class"=>"label text-saic text-dark" %></td>
               <td class="col1_form">
                  <%=f.password_field :password, autofocus: true, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password'), autocomplete:"new-password"%>
                  <br>
                  <% if @minimum_password_length %>
                     <em>(<%= "#{@minimum_password_length} carácteres mínimo" %>)</em><br />
                  <% end %>
               </td>
            </tr>
            
            <tr>
               <td class="col1_form"><%=f.label :password_confirmation, "Confirmar Nueva Contraseña", "class"=>"label text-saic text-dark" %></td>
               <td class="col1_form">
                  <%=f.password_field :password_confirmation, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password')%>
               </td>
            </tr>
         </table>
         
         <%= f.submit "Cambiar Contraseña" , "class"=>"btn btn-primary btn-block text-saic", data: {disable_with: "Cargando..."}%>
      <% end %>

      <%# <%= render "devise/shared/links" %>

   </div>

   <br><br>
</div>