<%= content_for(:title, "¿Olvidaste tu contraseña?") %>
<div id="content">
   <p class="title-xlarge-bold-centered text-dark">
      <%= "Recupera el acceso a tu cuenta SAIC" %>
   </p>
   <br>
   <%= render "devise/shared/error_messages", resource: resource %>
   <div id="form">
      <p class="title-xlarge text-dark"> <%="Solicitud de Restauración de Contraseña"%> </p>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			
			<table id="table_form">
            <tr>
               <td class="col1_form"><%=f.label :email, "Correo Electrónico", "class"=>"label text-saic text-dark" %></td>
               <td class="col1_form">
                  <%=f.email_field :email, autofocus: true, autocomplete: "email", "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.email')%>
               </td>
            </tr>
         </table>
         
			<%# Enviar instrucciones para recuperar mi contraseña %>
			<%= f.submit "Generar enlace para recuperar mi contraseña" , "class"=>"btn btn-primary btn-block text-saic", data: {disable_with: "Cargando..."}%>
		<% end %>
	</div>

   <br><br>
</div>

<%# <%= render "devise/shared/links" %>
