<%= content_for(:title, t("home.title.#{@user.role}")) %>
<div id="content">
   <%= render "layouts/alert_message" %>

   <div id="panel">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item plain text-light" aria-current="page">
               <%=t("home.title.#{@user.role}")%>
            </li>
         </ol>
      </nav>
      
      <%# Lista de items del menú (cards) %>
      <div class="row row-cols-1 row-cols-md-3">
      
         <% @menu.each do |item| %>
         <%# Item (card) %>
         <div class="col mb-3">
            <div class="card h-100">
               <img src="<%=asset_path(item.image)%>" class="card-img" alt="...">
               <p style="height: fit-content; margin: 1px; text-align: right;">
                  <a id="unsplash" class="bg-secondary text-light" href="<%=item.rights_url%>" target="_blank" rel="noopener noreferrer" title="<%=t('home.image.download')%>">
                     <span style="display:inline-block;padding:2px 3px">
                        <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
                           <title>Unsplash</title>
                           <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                        </svg>
                     </span>
                     <span style="display:inline-block;padding:2px 3px"> <%=item.rights_owner%> </span>
                  </a>
               </p>
               <div class="card-body">
                  <h1 class="card-title title-large-bold"> <%=item.title%> </h1>
                  <p class="card-text plain"> <%=item.description%> </p>
               </div>
               <div class="card-footer">
                  <%=link_to "Ir a #{item.button}", item.path, method: item.method, "class"=>"btn btn-primary btn-block text-saic", "title"=>item.tooltip, data: {disable_with: "<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div> <span id=\"text\">#{t('button.loading')}</span>"} %>
               </div>
            </div>
         </div>
         <% end %>
         
      </div>
      
   </div>

</div>