<%= content_for(:title, "Error 404") %>
<div id="content">
   <div id="footer">
      <p>
         <h1 class="title-large-bold">El recurso solicitado no existe.</h1>
         <span class="plain">Es posible que la dirección esté mal escrita o que el recurso se haya movido.</span>
         <img id="error_image" style="margin-top: 50px; margin-bottom: 10px;" src="<%=asset_path('file_not_found.png')%>" alt="Error 404" />
         <span class="annotation">Si eres el administrador o propietario de la aplicación, revisa los logs para más información.</span>
      </p>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>