<%= content_for(:title, "Error 500") %>
<div id="content">
   <div id="footer">
      <p>
         <h1 class="title-large-bold">¡Oh! Algo va mal.</h1>
         <span class="plain">Ocurrió un error en el servidor, intenta más tarde.</span>
         <img id="error_image" style="margin-top: 50px; margin-bottom: 10px;" src="<%=asset_path('internal_server_error.png')%>" alt="Error 500" />
         <span class="annotation">Si eres el administrador o propietario de la aplicación, revisa los logs para más información.</span>
      </p>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>