<%= content_for(:title, "Error 422") %>
<div id="content">
   <div id="footer">
      <p>
         <h1 class="title-large-bold">El cambio que deseabas realizar fue rechazado.</h1>
         <span class="plain">Quizás intentaste cambiar algo a lo que no tienes acceso.</span>
         <img id="error_image" style="margin-top: 50px; margin-bottom: 10px;" src="<%=asset_path('unprocessable.png')%>" alt="Error 422" />
         <span class="annotation">Si eres el administrador o propietario de la aplicación, revisa los logs para más información.</span>
      </p>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>