<%# KHS: Iniciar sesión %>
<%= content_for(:title, t("login.welcome"))%>
<div id="content">
   <p class="title-xlarge-bold-centered text-dark">
      <%=t('login.welcome')%> <br>
      <%=t('login.title')%>
   </p>
   <br>
   <%= render "layouts/alert_message" %>
   
   <div id="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
      <p class="title-xlarge text-dark"> <%=t('login.subtitle')%> </p>
      <table id="table_form">
         <tr>
            <td class="col1_form"><%=form.label :email, "class"=>"label text-saic text-dark" %></td>
            <td class="col1_form""><%=form.email_field :email, autocomplete: "email", "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.email')%></td>
         </tr>
         <tr>
            <td class="col1_form"><%=form.label :password, "class"=>"label text-saic text-dark"%></td>
            <td class="col1_form">
               <%=form.password_field :password, "class"=>"text_field text-saic text-dark", "placeholder"=>t('example.password'), autocomplete:"current-password"%>
            </td>
         </tr>
      </table>

      <%=form.submit t('button.account.login.label'), "class"=>"btn btn-primary btn-block text-saic", "title"=>t('button.account.login.tooltip'), data: {disable_with: t('button.account.login.loading')} %>
      
      <div id="centered_div">
         <p class="annotation text-dark">
            <%# Olvidaste tu contraseña %>
            <%= t('login.password.forget') %>
            <a href="/users/password/new"> <%=t('login.password.reset')%> </a>
            <br>
            <%# Crear una cuenta %>
            <%= t('login.notuser') %>
            <a href="/users/sign_up"> <%=t('login.signupnow')%> </a>
         </p>
      </div>

      <% end %>
   </div>
   
   <br><br>
   
   <%# AVISOS %>
   <div id="form">
      <ul class="list-group annotation" style="width: 500px;">
         <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-light">
            Avisos
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center bg-light text-dark">
            ¡El Manual SAIC v0.8 está disponible para su descarga!
            &nbsp
            <a href="https://drive.google.com/file/d/1xPnG2J4-ooCZ0sbwhBvWxIm4JNt-RLs5/view" target="_blank"><span class="badge badge-primary badge-pill">Descargar</span></a>
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center bg-light text-dark">
            Este Sitio Web necesita que tu navegador permita JavaScript, ventanas emergentes y cookies para visualizarlo correctamente.
         </li>
         <li class="list-group-item bg-light text-dark">
            Navegadores recomendados:
            &nbsp
            <a href="https://www.mozilla.org/es-MX/firefox/new/" target="_blank"><img src="<%=asset_path('browsers/firefox.png')%>" alt="Firefox" style="height: 23px; width: 23px;"></a>
            &nbsp
            <a href="https://www.microsoft.com/es-es/edge" target="_blank"><img src="<%=asset_path('browsers/edge.png')%>" alt="Edge" style="height: 23px; width: 23px;"></a>
            &nbsp
            <a href="https://www.apple.com/mx/safari/" target="_blank"><img src="<%=asset_path('browsers/safari.png')%>" alt="Safari" style="height: 23px; width: 23px;"></a>
         </li>
      </ul>
   </div>
   <%# END AVISOS %>
</div>