// KHS: archivo tipo SASS y/o CSS
@import '~bootstrap/scss/bootstrap';

// CONSTANTES 

$font: 'Open Sans', sans-serif;
$light-weight:300;
$regular-weight:400;
$semi-bold-weight:600;

$border-radius: 5px;

// Bootstrap colors       * = text | bg
// .*-primary (Azul rey)
// .*-secondary (Gris mediano)
// .*-success (Verde)
// .*-danger (Rojo)
// .*-warning (Amarillo)
// .*-info (Aqua)
// .*-light (Gris muy claro)
// .*-dark (Gris muy obscuro)
// .*-white (Blanco)
// .bg-transparent (Sin color)
// En uso:
// .bg-primary
// .bg-secondary
// .bg--danger
// .text-light
// .text-dark

$dark-blue-color: rgb(0, 74, 153); // bar
$king_blue_color: rgb(0, 123, 255); // border fields selected or hover (.bg_primary de bootstrap)
$gray-240-color: rgb(240, 240, 240); // rgb(240, 240, 240); // background body
$gray-237-color: rgb(237, 237, 237);
$gray-230-color: rgb(230, 230, 230); // border text field y select field
$gray-200-color: rgb(200, 200, 200); // panel
$middle-brown-color: rgb(225, 215, 193); // Fondo del header del lector
$soft-brown-color: rgb(245, 235, 213); // Fondo del body del lector
$dark-brown-color: rgb(94, 69, 51); // Texto del lector
$middle-brown-color2: rgb(230, 220, 200); // Fondo del text field del header del lector
$soft-brown-color2: rgb(255, 245, 220); // Fondo del text area del body del lector


// ESTRUCTURA BASE


body {
   margin: 0px;
   padding: 0px;
   // background-color: $gray-240-color;
   background-image: url(../../assets/images/background.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
#header {
   // height: 70px;
   // width: 100%;
   background-color: $dark-blue-color;
   // position: fixed;
   // vertical-align: middle;
   // text-align: left;
}
#content {
   height: 100%;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 25px;
   // border: 2px solid $king_blue_color;
}
#footer {
   height: fit-content;
   width: fit-content;
   margin-top: 10px;
   margin-right: auto;
   margin-left: auto;
}
#centered_div {
   height: fit-content;
   width: fit-content;
   margin-top: 10px;
   margin-right: auto;
   margin-left: auto;
}
#panel {
   height: 98%;
   width: 98%;
   margin: auto;
   padding: 10px;
   background-color: $gray-200-color;
   // border: 5px solid $gray-200-color;
}


// FORMULARIOS


#form {
  margin: auto;
  width: fit-content;
}
// Table form: nueva cuenta y actualizar cuenta
#table_form {
   margin: 10px auto 10px auto;
   // margin-top: 10px;
   // margin-bottom: 10px;
   border: 2px solid $gray-230-color;
}
.col1_form {
   margin: 0px;
   padding-top: 5px;
   padding-right: 5px;
   padding-left: 5px;
   border-width: 0px;
   text-align: left;
   vertical-align: top;
   background-color: $gray-237-color;
}
.label {
   height: 40px;
   // width: fit-content;
   padding-top: 5px;
   font-family: $font;
   font-size: large;
}
// TextField
.text_field {
   height: 40px;
   width: 315px;
   padding-left: 5px;
   padding-right: 5px;
   border: none;
   border: 1px solid $gray-230-color;
   border-radius: $border-radius;
   font-family: $font;
   font-size: large;
}
.text_field:hover {
   border: 2px solid $king_blue_color;
}
.text_field:focus {
   border: 2px solid $king_blue_color;
}
// Table Modal: instructions y about us
#table_modal {
   height: fit-content;
   width: 100%;
}
#celda_modal_img {
   height: 120px;
   width: 120px;
   vertical-align: middle;
   text-align: center;
}
#celda_modal_text {
   height: 150px;
   padding-left: 5px;
   vertical-align: middle;
}
// Table Modal: add word
#celda_modal_line {
   width: 100%;
   padding: 5px;
   vertical-align: middle;
}


// FORMULARIO TEXT new/edit

#title_reading {
   height: 100%;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
   // border: none;
   border: 1px solid $dark-brown-color;
   border-radius: $border-radius;
   background-color: $middle-brown-color2;
   font-family: $font;
   font-size: xx-large;
   text-align: center;
   color: $dark-brown-color;
}
#title_reading:hover {
   border: 2px solid $dark-brown-color;
}
#title_reading:focus {
   border: 2px solid $dark-brown-color;
}
#body_reading {
   width: 100%;
   min-height: 500px;
   padding-left: 10px;
   padding-right: 10px;
   // border: none;
   border: 1px solid $dark-brown-color;
   border-radius: $border-radius;
   background-color: $soft-brown-color2;
   font-family: $font;
   font-size: x-large;
   text-align: left;
   color: $dark-brown-color;
   resize: vertical; // none
   overflow: auto; // hidden
}
#body_reading:hover {
   border: 2px solid $dark-brown-color;
}
#body_reading:focus {
   border: 2px solid $dark-brown-color;
}


// FORMULARIO TEXT new/edit


#gallery {
   text-align: center;
   vertical-align: middle;
   background-color: white;
   border: none;
   border: 2px solid $gray-230-color;
   border-radius: $border-radius;
}


// TARJETA DE MEMORIA

#flashcard_item {
   width: 250px;
   height: 250px;
}


// BOOSTRAP


.btn {
   font-family: $font;
}
.modal-header {
   background-color: $dark-blue-color;
}
.alert {
   min-height: 50px;
   font-family: $font;
   font-style: normal;
   font-size: small;
}
.breadcrumb {
   font-family: $font;
   font-size: medium;
   text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
   margin-right: 5px;
   margin-left: 5px;
   color: whitesmoke;
   content: "/";
}
.breadcrumb li a {
  text-decoration: none;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}


// TEXTO


%saic-format { // id
   font-family: $font;
   font-style: normal;
}
.text-saic { // class
   @extend %saic-format;
}
.title-xxlarge {
   @extend %saic-format;
   font-size: xx-large;
   text-align: left;
   vertical-align: middle;
}
.title-xlarge {
   @extend %saic-format;
   font-size: x-large;
   text-align: left;
}
.title-xlarge-bold-centered {
   @extend %saic-format;
   font-size: x-large;
   font-weight: $semi-bold-weight;
   text-align: center;
}
.title-large {
   @extend %saic-format;
   font-size: large;
   text-align: left;
}
.title-large-bold {
   @extend %saic-format;
   font-size: large;
   font-weight: $semi-bold-weight;
   text-align: left;
}
.plain {
   @extend %saic-format;
   font-size: medium;
   text-align: justify;
}
.annotation {
   @extend %saic-format;
   font-size: smaller;
   text-align: left;
}
.annotation-centered {
   @extend %saic-format;
   font-size: smaller;
   text-align: center;
}


// Reader


// Header / Title
.reader-header {
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   background-color: $middle-brown-color;
}
.text-rh {
   @extend %saic-format;
   font-size: xx-large;
   font-weight: $semi-bold-weight;
   text-align: center;
   line-height: 150%;
   word-spacing: 3px;
   letter-spacing: 0px;
   color: $dark-brown-color;
}
// Body
.reader-body {
   padding: 5% 10%;
   background-color: $soft-brown-color;
}
.text-rb {
   @extend %saic-format;
   font-size: xx-large;
   text-align: left;
   line-height: 190%;
   word-spacing: 3px;
   letter-spacing: 0px;   
   color: $dark-brown-color;
}
// .text-rb p:first-child::first-letter {
//    padding: 0 .3rem;
//    margin: 0 .3rem 0 0;
//    border: 3px solid;
//    border-radius: 8px;
//    font-family: "IBM Plex Mono", monospace;
//    font-size: 70px;
//    color: $dark-brown-color;
// }
// Word / Span
#expanded-span {
   background: url(../../assets/images/readings/selected_word.png);
   // background: asset-path("images/readings/selected_word.png");
   // background: url(#{"../../assets/images/readings/selected_word.png"});
   
   background-size: 25px 10px;;
   background-repeat: no-repeat;
   background-position-x: left;
   background-position-y: center;
}
.token {
   display: inline-block;
}
.native {
   display: block;
   cursor: pointer;
}
.translation {
   display: inline;
   position: relative;
   font-weight: $light-weight;
   font-size: x-large;
   color: $dark-blue-color;
}
// Float button
.float-toolbar {
   height: fit-content;
   width: fit-content;
   padding: 5px;
   margin-left: 5px;
   position: fixed;
   // top: 0;
   bottom: 5px;
   border-radius: $border-radius;
   opacity: 1.00;
   background-color: $middle-brown-color;
   vertical-align: middle;
}
.float-toolbar-safari {
   height: fit-content;
   width: fit-content;
   // padding: 5px;
   // margin: 5px;
   position: fixed;
   // top: 0;
   bottom: 5px;
   border-radius: $border-radius;
   opacity: 1.00;
   background-color: $middle-brown-color;
}
// .float-button:hover {
//    right: -7px;//hide it by pushing it off the screen
// }





// IMÁGENES


#logo {
   height: 50px;
   width: 50px;
}
#instruction_saic {
   height: 100px;
   width: 100px;
}
#error_image {
   height: 437px;
   width:  540px;
   display: block;
   margin: auto;
}
#flashcard_image {
   height: auto;
   width:  auto;
   max-height: 240px;
   // max-width: 240px;
}


// LINK <a>


// a {
//    color: $king_blue_color;
// }
// a:link {
//    color: $king_blue_color;
// }
// a:hover {
//    color: none;
// }
// a:active {
//    color: none;
// }


// SELECT <input type="select">


select {
   height: 40px;
   width: 310px;
   padding-left: 5px;
   padding-right: 5px;
   border: none;
   border: 1px solid $gray-230-color;
   border-radius: $border-radius;
   font-family: $font;
   font-size: large;
}
select:hover {
   border: 2px solid $king_blue_color;
}
select:focus {
   border: 2px solid $king_blue_color;
}


// Unsplash rights


#unsplash {
   // background-color: gray;
   // color: white;
   text-decoration:none;
   padding: 4px 6px;
   font-family: $font;
   font-size: 10px;
   font-weight: bold;
   line-height: 1.2;
   display:inline-block;
   border-radius: $border-radius;
   text-align: right;
}