<p>¡Hola <%= @resource.email %>!</p>

<p>Has solicitado un enlace de Recuperación de Contraseña. Podrás encontrar el enlace enseguida:</p>
<p>
   <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"> <%="Cambiar mi contraseña"%> </a>
</p>
<p>Si no solicitaste este enlace, por favor ignora este correo y contacta a tu docente o administrador para reforzar tu seguridad en la plataforma.</p>
<p>Tu Contraseña no será cambiada hasta que entres al enlace de arriba y cambies tu contraseña en la plataforma SAIC.</p>
