<% if notice %>
<div id="footer" class="alert alert-primary alert-dismissible fade show text" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
   </button>
   <div style="margin: 0px;"></div>
   <%= notice.html_safe %>
</div>
<% end %>

<% if alert %>
<div id="footer" class="alert alert-danger alert-dismissible fade show text" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
   </button>
   <div style="margin: 0px;"></div>
   <%= alert.html_safe %>
</div>
<% end %>