<!-- Modal Dialog -->
<div class="modal fade" id="<%=id%>" tabindex="-1" role="dialog" aria-labelledby="<%=id%>Title" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-body alert_modal_body-<%=id%>">
            <p class="plain text-dark">
               <%=message.html_safe%>
            </p>
         </div>
         <div class="modal-footer">
            <% if (path == nil && method == nil) %>
               <%# Sin botón positivo %>
            <% elsif (path == nil) %>
               <button type="button" class="<%=type%> text-saic" <%=possitive_button.html_safe%> </button>
            <% elsif (method == nil) %> <%# Open in same tab %>
               <button type="button" class="<%=type%> text-saic" onclick="window.location.href = '<%=path%>'"> <%=possitive_button.html_safe%> </button>
            <% elsif (method == :post)%>
               <%= form.submit possitive_button.html_safe, "class"=>"#{type} text-saic", data: {disable_with: t('button.loading')} %>
            <% else %>
               <%= link_to possitive_button.html_safe, path, method:method, "class"=>"#{type} text-saic", data: {disable_with: "<span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span> #{possitive_button.html_safe}"} %>
            <% end %>
            &nbsp
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=negative_button.html_safe%> </button>
         </div>
      </div>
   </div>
</div>