<!DOCTYPE html>
<html>

<head>
   <title>SAIC - <%= yield(:title) %></title>
   <%= favicon_link_tag 'favicon.ico' %>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%# KHS: stylesheet_style_tag para que webpack nos permita usar distintos tipos de archivo %>
   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   <%# KHS: se agrega una familia fuente embebida 'Open Sans' y al styles.scss también %>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
   <%# KHS: se agregan dependencias jQuery, Popper and Bootstrap JS %>
   <%# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> %>
</head>

<%# TEST inicial para evaluación %>
<% # Validar bandera para lanzar TEST inicial
   if (user_signed_in?)
      unless (session[:init_test])
         session[:init_test] = (current_user.user_words.nil? || current_user.user_words.empty?) ? true : false
      end
   else
      session[:init_test] = false
   end
%>
<%# END TEST inicial para evaluación %>

<body onload="initTest(<%=session[:init_test]%>)">

   <nav id="header" class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="/" title="<%=t("saic.tooltip")%>">
         <img id="logo" class="d-inline-block align-top" src="<%=asset_path('brand.png')%>" alt="SICAC Logo">
         <span class="title-xxlarge text-light">&nbsp <%=t("saic.title")%> &nbsp</span>
      </a>
      <%# Elementos de la izquierda %>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <% if (controller_name == 'sessions' && action_name == 'new') %>
                  <li class="nav-item">
                     <span class="annotation text-light" style="text-align: right;">
                        <a class="text-light" href="/users/sign_up" title="<%=t("button.account.signup.propose.tooltip")%>">
                           <b> <%=t("button.account.signup.propose.label")%> </b>
                        </a>
                     </span>
                  </li>
            <% elsif (controller_name == 'registrations' && (action_name == 'new' || action_name == 'create' || action_name == 'edit' || action_name == 'update'))%>
               <%# Crear una cuenta y Actualizar una cuenta NO deben tener un menú de acceso directo %>
            <% elsif (user_signed_in?) %>
               <li class="nav-item">
                  <span class="annotation text-light" style="text-align: right;">
                     <a class="text-light" href="/" title="<%=t('button.menu.principal.tooltip')%>">
                        <b> <%=t('button.menu.principal.label')%> </b>
                     </a>
                     <% @menu.each do |item| %>
                        &nbsp • &nbsp
                        <a class="text-light" href="<%=item.path%>" title="<%=item.tooltip%>">
                           <%=item.button%>
                        </a>
                     <% end %>
                  </span>
               </li>
            <% else %>
               <% puts 'Opción no válida: application.html.erb' %>
            <% end %>
         </ul>
      </div>
      <%# Elementos de la derecha %>
      <% if (user_signed_in?) %>
         <div class="form-inline">
            <span class="annotation text-light" style="text-align: right;">
               <% user = current_user%>
               <% role = user.role == Const::STUDENT_ROLE ? t("student") : t("teacher") %>
               <%=t("welcome") + ", " + user.first_name + " " + user.last_name + " - " + role%>
               &nbsp | &nbsp
               <%= link_to t('button.account.update.propose.label'), edit_user_registration_path, method: :get, "class"=>"text-light", "title"=>t('button.account.update.propose.tooltip') %>
               &nbsp | &nbsp
               <a class="text-light" data-toggle="modal" data-target="#openLogout" href="" title="<%=t('button.account.logout.tooltip')%>"> <%=t('button.account.logout.label')%> </a>
            </span>
         </div>
      <% end %>
   </nav>
   
   
   <%= yield %>
   
   
   <div id="footer">
      <hr>
      <p class="annotation-centered text-dark">
         <%# Los botones se cargan desde application_controller.rb %>
         <% @buttons.each do |button| %>
            <% if (button.type == 'modal') %> <!-- Button trigger modal -->
               <button type="button" class="btn btn-link" data-toggle="modal" data-target="<%=button.target%>" style="font-size: small;"> <%=button.name%> </button>
            <% elsif (button.type == 'link') %> <!-- Button trigger link -->
               <a class="btn btn-link" href="<%=button.target%>" target="_blank" style="font-size: small;"> <%=button.name%> </a>
            <% elsif (button.type == 'separator') %> <!-- Separator -->
               &nbsp <span class="text-dark"> <%=button.name%> </span> &nbsp
            <% elsif (button.type == 'label') %> <!-- Label -->
               &nbsp <%=t('powered_by')%>
            <% end %>
         <% end %>
      </p>
      <p class="annotation-centered text-dark" style="font-size: small;">
         SAIC Versión 0.8.1 (Compilación 20210424)
      </p>
   </div>


   <!-- Modal openWhatsSaic -->
   <div class="modal fade" id="openWhatsSaic" tabindex="-1" role="dialog" aria-labelledby="openWhatsSaicTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="title-large-bold text-light"> <%=t('modal.whats_saic.title')%> </h1>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p class="plain text-dark"><%=t('modal.whats_saic.description').html_safe%></p>
               <p class="plain text-dark"><%=t('modal.whats_saic.purpose').html_safe%></p>
               <p class="plain text-dark"><%=t('modal.whats_saic.feature.intro').html_safe%>
                  <ul>
                     <li class="plain text-dark"> <%=t('modal.whats_saic.feature.one').html_safe%> </li>
                     <li class="plain text-dark"> <%=t('modal.whats_saic.feature.two').html_safe%> </li>
                     <li class="plain text-dark"> <%=t('modal.whats_saic.feature.three').html_safe%> </li>
                     <li class="plain text-dark"> <%=t('modal.whats_saic.feature.four').html_safe%> </li>
                     <li class="plain text-dark"> <%=t('modal.whats_saic.feature.five').html_safe%> </li>
                  </ul>
               </p>
               <br>
               <div id="form">
                  <img src="<%=asset_path('brand.png')%>" alt="SICAC Logo" style="height: 100px; width: 100px;">
                  <span class="title-xxlarge" style="color: rgb(0, 74, 153);">&nbsp <%=t("saic.title")%> &nbsp</span>
               </div>
               <br>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.close')%> </button>
            </div>
         </div>
      </div>
   </div>
   <!-- Fin -->

   <!-- Modal openInstructions -->
   <div class="modal fade" id="openInstructions" tabindex="-1" role="dialog" aria-labelledby="openInstructionsTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="title-large-bold text-light"><%= t('modal.instructions.title') %></h1>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

               <%# Las instrucciones se cargan desde application_controlle.rb %>
               <% @instructions.each do |instruction| %>
               <%# Instrucción %>
               <h2 class="title-large-bold text-dark"> <%=instruction.title.html_safe%> </h2>
               <table id="table_modal">
                  <tr>
                     <td id="celda_modal_img">
                        <img id="instruction_saic" src="<%=asset_path(instruction.image)%>" />
                     </td>
                     <td id="celda_modal_text">
                        <p class="plain text-dark"><%=instruction.body.html_safe%></p>
                     </td>
                  </tr>
               </table>
               <% end %>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.close')%> </button>
            </div>
         </div>
      </div>
   </div>
   <!-- Fin -->

   <!-- Modal openAboutUs -->
   <div class="modal fade" id="openAboutUs" tabindex="-1" role="dialog" aria-labelledby="openAboutUsTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="title-large-bold text-light"> <%=t('modal.about_us.title')%> </h1>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

               <%# Los participantes se cargan desde application_controlle.rb %>
               <% @participants.each do |participant| %>

               <%# Participante %>
               <h2 class="title-large-bold text-dark"> <%=participant.name%> </h2>
               <table id="table_modal">
                  <tr>
                     <td id="celda_modal_img">
                        <img id="instruction_saic" src="<%=asset_path(participant.image)%>" />
                     </td>
                     <td id="celda_modal_text">
                        <p class="plain text-dark">
                           <ul>
                              <li> <%=participant.thesis_work%> </li>
                              <li> <%=participant.academic_degree%> </li>
                              <li> <%=participant.investigation_line%> </li>
                              <li> <%=t('contact')%>: <a href="mailto:<%=participant.email%>"> <%=participant.email%> </a></li>
                           </ul>
                        </p>
                     </td>
                  </tr>
               </table>

               <% end %>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%=t('button.close')%> </button>
            </div>
         </div>
      </div>
   </div>
   <!-- Fin -->
   
               
   <% if (user_signed_in?) %>
      <!-- Render modal: logout-->
      <%= render "layouts/alert_modal", id:"openLogout", type:"btn btn-danger", message:t('alert.account.logout'), negative_button:t('button.negative'), possitive_button:t('button.account.logout.label'), path:destroy_user_session_path, method: :delete %>
   <% end %>
   
   
   <%# TEST inicial para evaluación %>
   <!-- Modal openTest -->
   <%= form_with(local: true, html: {:name => "test_form"}, url: vocabulary_add_words_from_test_path()  ) do |form| %>
      <div class="modal fade" id="openTest" tabindex="-1" role="dialog" aria-labelledby="openTestTitle" aria-hidden="true" data-backdrop="static">
         <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="title-large-bold text-light"> <%=t('modal.test.title').html_safe%> </h1>
               </div>
               <div class="modal-body">
                  <p class="plain text-dark"><%=t('modal.test.description').html_safe%></p>
                  
                  <% index = 1 %>
                  <% while (index <= 10) %>
                     <p class="plain text-dark">
                        <%=check_box("words", t("modal.test.words.W#{index.to_s}.word"))%>
                        &nbsp
                        <%=t("modal.test.words.W#{index.to_s}.word")%>
                     </p>
                     <% index += 1 %>
                  <% end %>
                  
               </div>
               <div class="modal-footer">
                  <%= form.submit t('button.accept.label'), "class"=>"btn btn-primary text-saic", data: {disable_with: t('button.loading')} %>
                  <%= link_to t('button.account.logout.label').html_safe, destroy_user_session_path, method: :delete, "class"=>"btn btn-danger text-saic", data: {disable_with: "<span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span> #{t('button.account.logout.label').html_safe}"} %>
               </div>
            </div>
         </div>
      </div>
   <% end %>
   <!-- Fin -->
   
   <script type="text/javascript">
      function initTest(is_valid) {
         if (is_valid) {
            // Mostrar modal
            $('#openTest').modal('show');
         }
      }
   </script>
   <%# END TEST inicial para evaluación %>

</body>

</html>